// SCSS correspondiente a about me

// about
 .about-card {
  // disposicion general de la div container
  width: auto;
  margin: 16px;
  padding: 16px 24px;
  border-radius: 50px;
  width: 190px;
  height: 254px;
  border-radius: 1rem;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

  // disposicion de los elementos internos
  h1, p {
    animation: fadeInText 1s ease-in forwards;
  }

  @keyframes fadeInText {
    0% {
      opacity: 0;
      transform: scale(1.4);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  // disposicion del titulo
  .presentation-card-title {

    h1 {
      font-size: 48px;
      font-family: Georgia, serif;
      height: auto;
      width: 100%;
      justify-content: center;
      align-items: center;

      animation: fadeInText 1s ease-in forwards;
      background: linear-gradient(to right, violet, pink, skyblue);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

  }

  // disposicion del texto
  .presentation-card-text-container {
    display: flex;
    justify-content: space-between;

    p {
      color: white;
      font-size: 16px;
      font-family: Georgia, serif;
      text-align: justify; // Aligns text evenly along both the left and right edges
    }


    .presentation-card-text-container-a {
      width: 50%;
      padding: 8px;

    }

    .presentation-card-text-container-b {
      width: 50%;
      padding: 8px;


    }

  }

}



  .about-me-wagon {
    display: flex;
    align-items: center;
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
    padding: 20px;
    background-color: #170818;
    transition: transform 0.3s;

    .about-me-wagon-logo {
      margin-right: 20px;
      img {
        width: 150px;
        height: auto;
        border-radius: 10px;
      }
    }

    .about-me-wagon-text {
      color: #fff;
      font-family: 'Arial', sans-serif;
      p {
        line-height: 1.6;
        font-size: 16px;
      }
    }
  }
