// SCSS correspondiente a about me

// about
 .presentation-card {
  width: auto;
  margin: 16px;
  padding: 16px 24px;
  border-radius: 50px;



  h1, p {
    animation: fadeInText 1s ease-in forwards;
  }

  @keyframes fadeInText {
    0% {
      opacity: 0;
      transform: scale(1.4);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .presentation-card-title {

    h1 {
      font-size: 48px;
      font-family: Georgia, serif;
      height: auto;
      width: 100%;
      justify-content: center;
      align-items: center;

      animation: fadeInText 1s ease-in forwards;
      background: linear-gradient(to right, violet, pink, skyblue);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

  }

  .presentation-card-text-container {
    display: flex;
    justify-content: space-between;


    .presentation-card-text-container-a {
      width: 50%;
      padding: 8px;

      p {
        color: white;
        font-size: 16px;
        font-family: Georgia, serif;
        text-align: justify; // Aligns text evenly along both the left and right edges
      }
    }

    .presentation-card-text-container-b {
      width: 50%;
      padding: 8px;

      p {
        color: white;
        font-size: 16px;
        font-family: Georgia, serif;
        text-align: justify; // Aligns text evenly along both the left and right edges
      }
    }

  }

}



  .about-me-wagon {
    display: flex;
    align-items: center;
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
    padding: 20px;
    background-color: #170818;
    transition: transform 0.3s;

    .about-me-wagon-logo {
      margin-right: 20px;
      img {
        width: 150px;
        height: auto;
        border-radius: 10px;
      }
    }

    .about-me-wagon-text {
      color: #fff;
      font-family: 'Arial', sans-serif;
      p {
        line-height: 1.6;
        font-size: 16px;
      }
    }
  }
