.about-me-container {
  width: 100%;
  height: 100vh;

  align-items: center;
  justify-content: center;
  position: relative;
  opacity: 0;
  animation: fadeIn 1s ease-in-out 0.5s forwards;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);

  h1, p {
    color: white;
    animation: fadeInText 1s ease-in forwards;
  }

  h1 {
    font-size: 48px;
  }

  p {
    font-size: 24px;
  }

  @keyframes fadeInText {
    0% {
      opacity: 0;
      transform: scale(1.4);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.about-me-presentation {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  opacity: 0;
  animation: fadeIn 1s ease-in-out 0.5s forwards;
  box-shadow: inset 60px 60px 60px rgba(0, 0, 0, 0.5);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.7;
    z-index: 1;
    transition: background 0.5s ease;
  }

  &:hover::before {
    background: rgba(0, 0, 0, 0.3);
  }

  p {
    font-size: 1.2rem;
    line-height: 1.6;
  }
}

.about-me-wagon {
  display: flex;
  align-items: center;
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
  padding: 20px;
  background-color: #170818;
  transition: transform 0.3s;

  .about-me-wagon-logo {
    margin-right: 20px;
    img {
      width: 150px;
      height: auto;
      border-radius: 10px;
    }
  }

  .about-me-wagon-text {
    color: #fff;
    font-family: 'Arial', sans-serif;
    p {
      line-height: 1.6;
      font-size: 16px;
    }
  }
}
