// SCSS for the blank page

.about-me-container {
  height: 100vh;
}

.about-me-presentation {
  height: 100%;
  width: 100%;
  background-image: url("https://res.cloudinary.com/dcfmvazgl/image/upload/v1727609006/Wash%20portfolio/snapedit_1727545236142_xqv7sg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-image: fill 0 linear-gradient(#0003, #000);
  border: white 1px solid;

}

.abuoutme-card-webdeveloper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  margin: 16px;
  bottom: 0;
}
