// SCSS for the blank page

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.skills {
  width: 160px;
  height: 160px;
  background-color: aqua;
  position: relative;
}
