// blank page style

.mh-skills .mh-professional-skill {
  padding-right: 60px;
  color: white;
}

.mh-skills .mh-professional-skill h3{
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  font-weight: 400;
}
