// SCSS correspondiente a blank

.blank-container {
  width: 100%;
  height: 100%;
  margin: 0;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: hidden;


  .presentation {
    width: calc(100% - 8px);
    height: 100%;
    margin: 8px;
    display: flex;
    flex-wrap: wrap;
    border: 2 solid white;


    .card-logo {
      height: 100%;
      width: 50%;
      justify-content: center;
      align-items: center;

      img{
        max-height: 320px;
        max-width: 100%;
        height: auto;
        width: auto;
      }
    }

    .card-text {
      height: 100%;
      width: 50%;
      padding: 16px;

      .card-title {
        justify-content: center;
        align-items: center;

        h1 {
          font-size: 48px;
          font-family: Georgia, serif;
          height: auto;
          width: 100%;
          justify-content: center;
          align-items: center;

          animation: fadeInText 1s ease-in forwards;
          background: linear-gradient(to right, violet, pink, skyblue);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

      }

      .card-parapgraph {
        p {
          color: white;
          font-size: 16px;
          font-family: Georgia, serif;
          text-align: justify; // Aligns text evenly along both the left and right edges
          animation: fadeInText 1s ease-in forwards;
        }

      }

    }


  }
}
