// SCSS correspondiente a blank

@media screen and (min-width: 1280px) {

  .projects-container {
    // disposicion general de la div container
    width: 100%;
    align-items: center;
    justify-content: center;

    h1, h2, p {
      font-family: Georgia, serif;
      animation: fadeInText 1s ease-in forwards;
    }

    @keyframes fadeInText {
      0% {
        opacity: 0;
        transform: scale(1.4);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }

    // titulo con animacion - project-card-title
    .project-card-title {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center; // Alinea el texto al centro

      h1 {
        font-size: 48px;
        font-family: Georgia, serif;
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 16px 24px;

        animation: fadeInText 1s ease-in forwards;
        background: linear-gradient(to right, violet, pink, skyblue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    // texto de proyectos - project-card-text-container
    .project-card-text-container {
      display: flex;
      justify-content: space-between;
      padding: 24px;

      p {
        color: white;
        font-size: 16px;
        font-family: Georgia, serif;
        text-align: justify; // Aligns text evenly along both the left and right edges
      }
    }

    // estilo carta de projects fullstack start
    .project-card-container {
      margin: 100px auto;
      background: blue;
      box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
      position: relative;
      width: 100%;
      min-height: 330px;
      overflow: hidden;
      overflow-y: scroll;

      .projects-card-fullstack-title {

        h2 {


          font-size: 48px;
          font-family: Georgia, serif;
          height: auto;
          width: 100%;
          justify-content: center;
          align-items: center;
          padding: 16px 24px;
          text-align: center;
          animation: fadeInText 1s ease-in forwards;
          background: linear-gradient(to right, violet, pink, skyblue);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

          @keyframes myAnim {
            0% {
              opacity: 0;
              transform: scale(1.4);
              transition-delay: 1s;
            }

            100% {
              opacity: 1;
              transform: scale(1);
            }
          }


        }


      }


    }

  }

}
