// SCSS for the blank page

.about-me-container {
  height: 100vh;
  border: white 1px solid;
}

.aboout-me-container {
  height: 100%;
  width: 100%;
  background-image: url("owl.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-image: fill 0 linear-gradient(#0003, #000)
}
