// SCSS for the blank page

.blank-container {
  margin: 16px;

}

.form-contact {
  display: flex;
  flex-direction: column;
  margin: 16px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}
