// SCSS for the blank page

.about-me-container {
  height: 100vh;
}

.about-me-presentation {
  height: 100%;
  width: 100%;
  background-image: url("https://res.cloudinary.com/dcfmvazgl/image/upload/v1728299297/Wash%20portfolio/webdevs_oqcsti.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0; /* Inicialmente oculta la imagen */
  animation: fadeIn 1s ease-in-out 0,5s forwards; /* Animación para que aparezca suavemente después de 1s */
}

/* Definición de la animación */
@keyframes fadeIn {
  to {
    opacity: 1; /* La imagen aparecerá completamente */
  }
}
