// SCSS correspondiente a blank

.blank-container {
  width: 100%;
  height: 100%;
  border: 2px solid white;

  display: flex;
  justify-content: center;
  align-items: center;

  .card-container {
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 2px solid white;

    // efecto de glass
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(4px) saturate(180%);
    background-color: rgba(17, 25, 40, 0);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);

    h2 {
      width: 100%;
      font-size: 24px;
      font-family: Georgia, serif;
      color: white;
      text-align: center;
      background: linear-gradient(to right, violet, pink, skyblue);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    h3 {
      width: 100%;
      font-size: 24px;
      font-family: Georgia, serif;
      color: white;
      text-align: center;
      background: linear-gradient(to right, violet, pink, skyblue);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      color: white;
      font-size: 16px;
      font-family: Georgia, serif;
      text-align: justify;
    }

    ul {
       li  {
        color: white;
        font-size: 16px;
        font-family: Georgia, serif;
        text-align: justify;
      }
    }
  }





}
