// contact-container
.contact-container{
  display: flex;
  justify-content: center;
  border: 1px solid #f7f3f3;
  border-radius: 40px;
  margin: 16px;
}

.contact-container h1{
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin: 16px;
}
// contact-container
