// SCSS for the contact page

// contact-container
.contact-container{
  justify-content: center;
  align-items: center;
  height: 100vh;
}

// contact-info-container
.contact-info-container{
  height: 100%;
  width: 100%;
  background-image: url("network.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-image: fill 0 linear-gradient(#0003, #000)

}

.contact-container h1{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin: 16px;
}

// contact-info
.contact-info{
  width: 50%;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
  margin: auto;
}

.contact-item{
  flex-grow: 1;
  flex-basis: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 180px;
}

// whatsapp
.whatsapp{

  padding: 8px;
  border-radius: 20px;
  color: white;
  margin-bottom: 0px;
}

.whatsapp:hover{
  background-color: green;
  transition: 0.5s;
}

// Github
.Github{

  padding: 8px;
  border-radius: 20px;
  color: white;
}

.Github:hover{
  background-color: rgb(17, 17, 17);
  transition: 0.5s;
}

.Linkedin{
  padding: 8px;
  border-radius: 20px;
  color: white;
}

.Linkedin:hover{
  background-color: rgb(0, 119, 181);
  transition: 0.5s;
}

.Instagram{
  padding: 8px;
  border-radius: 20px;
  color: white;
}

.Instagram:hover{
  background-color: rgb(193, 53, 132);
  transition: 0.5s;
}
