// SCSS correspondiente a about me

.contact-container {
  width: 100%;

  align-items: center;
  justify-content: center;
  position: relative;
  opacity: 0;
  animation: fadeIn 1s ease-in-out 0.5s forwards;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);

}
