// contact-container
.contact-container{
  justify-content: center;
  align-items: center;
  margin: 16px;
  height: 100vh;
}

.contact-container h1{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin: 16px;
}
// contact-container

// contact-info
.contact-info{
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border:1px solid white;
  padding: 4px;
  border-radius: 50px;
  margin: auto;
}
.contact-item{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 180px;
}

.whatsapp{

  padding: 8px;
  border-radius: 20px;
  color: white;
  margin-bottom: 0px;
}

.whatsapp:hover{
  background-color: green;
  transition: 0.5s;
}

.Github{

  padding: 8px;
  border-radius: 20px;
  color: white;
}

.Github:hover{
  background-color: rgb(17, 17, 17);
  transition: 0.5s;
}

.Linkedin{
  padding: 8px;
  border-radius: 20px;
  color: white;
}

.Linkedin:hover{
  background-color: rgb(0, 119, 181);
  transition: 0.5s;
}

.Instagram{
  padding: 8px;
  border-radius: 20px;
  color: white;
}

.Instagram:hover{
  background-color: rgb(193, 53, 132);
  transition: 0.5s;
}
// contact-info
