// SCSS correspondiente a about me

.contact-container {
  // disposicion general de la div container
  width: auto;
  padding: 16px 24px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  z-index: 100;

  // disposicion de los elementos internos
  h1, p {
    animation: fadeInText 1s ease-in forwards;
  }

  @keyframes fadeInText {
    0% {
      opacity: 0;
      transform: scale(1.4);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  // disposicion del titulo
  .contact-title {

    h1 {
      font-size: 48px;
      font-family: Georgia, serif;
      height: auto;
      width: 100%;
      justify-content: center;
      align-items: center;

      animation: fadeInText 1s ease-in forwards;
      background: linear-gradient(to right, violet, pink, skyblue);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  // disposicion del texto
  .contact-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 8px;
    grid-row-gap: 8px;

    // // carta contenedora del correo
    .card-container {
      width: 270px;
      height: 250px;
      position: relative;
      border-radius: 10px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      grid-area: 1 / 1 / 2 / 2;


      .card {
        width: 100%;
        height: 100%;
        border-radius: inherit;
      }

      .card .front-content {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
      }

      .card .front-content p {
        font-size: 32px;
        font-weight: 700;
        opacity: 1;
        background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
      }

      .card .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 10px;
        background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
        color: #e8e8e8;
        padding: 20px;
        line-height: 1.5;
        border-radius: 5px;
        pointer-events: none;
        transform: translateY(96%);
        transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
      }

      .card .content .heading {
        font-size: 32px;
        font-weight: 700;
      }

      .card:hover .content {
        transform: translateY(0);
      }

      .card:hover .front-content {
        transform: translateY(-30%);
      }

      .card:hover .front-content p {
        opacity: 0;
      }


    }

    // carta contenedora a redes sociales
    .social-media-card {
      grid-area: 1 / 2 / 2 / 4;
      border-radius: 8px 40px 8px 40px;
      background-color: #4158D0;
      background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

      // disposicion del tiutlo
      .social-media-card-title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
          height: auto;
          width: 100%;
          font-size: 32px;
          margin: 16px;
          font-family: Georgia, serif;
          display: flex;
          justify-content: center;
          align-items: center;

          // animacion
          animation: fadeInText 1s ease-in forwards;
          background: linear-gradient(to right, violet, pink, skyblue);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

      }

      .social-media-card-buttons {

        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid white;

        .social-media-card-buttons-01 {

        }

        .social-media-card-buttons-02 {

        }

        a {

          button {
            border: none;
            background: transparent;
            font-size: 24px;

            p {
              background: linear-gradient(to right, violet, pink, skyblue);
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }


          }

        }

      }


    }




  }
}
