// SCSS correspondiente a home page

// características generales de la página
.home-container {

  justify-content: center;
  align-items: center;
  margin-top: 8vh;
  height: 100vh;
  z-index: 1;

  // carta de presentación de la homepage
  .home-presentation {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    background-image: url("https://res.cloudinary.com/dcfmvazgl/image/upload/v1727608998/Wash%20portfolio/owl_vccokp.png");
    background-size: cover;
    background-position: center;
    align-items: center;

    box-shadow: inset 60px 60px 60px 60px rgba(0, 0, 0, 0.5); // sombra interna
    position: relative;
    opacity: 1; // Initial opacity
    transform: translateY(0); // Initial position
    transition: opacity 0.5s ease, transform 1s ease; // Transition for opacity and transform
  }


}



// Clase para ocultar la presentación
.hidden {
  opacity: 0;
  transform: translateY(px); // Move up slightly when hidden
}
