// SCSS correspondiente a home page

// caracteristicas generales de la pagina
.home-container {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

// carta de presentacion
.home-presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px 0 0 0;


  &.visible img {
    opacity: 1; // Imagen completamente visible cuando se añade la clase "visible"
  }

  img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-repeat: no-repeat;
    opacity: 0; // Inicialmente oculta la imagen
    transition: opacity 1s ease-in, box-shadow 0.3s ease-in; // Transición suave para mostrar la imagen y la sombra interior

    // Para el efecto de desvanecimiento
    &.visible {
      opacity: 1; // Cuando es visible
    }
  }

  // Cuando la clase visible se elimina, la imagen desaparece lentamente
  &.hidden img {
    opacity: 0; // Desaparece cuando se quita la clase visible
    transition: opacity 1s ease-in; // Transición para desaparecer
  }
}


// carta correspondiente a las habilidades
.home-card-h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0 0 0;

  h2 {
    font-size: 24px;
    font-weight: 600;
    color: white;
  }

}
