// SCSS correspondiente a home page

// caracteristicas generales de la pagina
.home-container {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

// carta de presentacion
.home-presentation {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  // disposicion de la imagen de fondo
  background-image: url("https://res.cloudinary.com/dcfmvazgl/image/upload/v1727608998/Wash%20portfolio/owl_vccokp.png");
  background-size: cover;
  background-position: center;
  align-items: center;
  box-shadow: inset 60px 60px 60px 60px rgba(0, 0, 0, 0.5); // sombra interna

}
