// SCSS correspondiente a home page

// caracteristicas generales de la pagina
.home-container {
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 1px solid white;
}

// carta de presentacion
.home-presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px 0 0 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;

  }

}
