// SCSS correspondiente a home page

// características generales de la página
.home-container {
  justify-content: center;
  align-items: center;
  height: 100vh;

  // carta de presentación de la homepage
  .home-presentation {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    background-image: url("https://res.cloudinary.com/dcfmvazgl/image/upload/v1727608998/Wash%20portfolio/owl_vccokp.png");
    background-size: cover;
    background-position: center;
    align-items: center;

    box-shadow: inset 60px 60px 60px 60px rgba(0, 0, 0, 0.5); // sombra interna
    position: relative;
    opacity: 1; // Initial opacity
    transform: translateY(0); // Initial position
    transition: opacity 0.5s ease, transform 1s ease; // Transition for opacity and transform
  }

  // about
  .presentation-card {
    width: auto;
    margin: 16px;
    padding: 16px;
    border-radius: 50px;
    background: linear-gradient(145deg, #150716, #19091a);
    box-shadow:  8px 8px 8px #0e050e,
    -8px -8px 8px #200b22;

    h1, p {
      animation: fadeInText 1s ease-in forwards;
    }

    h1 {
      font-size: 48px;
      font-family: Georgia, serif;
      height: auto;
      width: 100%;
      justify-content: center;
      align-items: center;

      animation: fadeInText 1s ease-in forwards;
      background: linear-gradient(to right, violet, pink, skyblue);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      color: white;
      font-size: 16px;
      font-family: Georgia, serif;
    }

    @keyframes fadeInText {
      0% {
        opacity: 0;
        transform: scale(1.4);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }

    .presentation-card-title {

    }

    .presentation-card-text-container {
      display: flex;
      justify-content: space-between;


      .presentation-card-text-container-a {
        width: 50%;
        padding: 8px;
      }

      .presentation-card-text-container-b {
        width: 50%;
        padding: 8px;
      }

    }



  }
}



// Clase para ocultar la presentación
.hidden {
  opacity: 0;
  transform: translateY(px); // Move up slightly when hidden
}
