// SCSS correspondiente a home page

// características generales de la página


@media screen and (min-width: 1025px) {
  .home-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;

    .presentation {
      height: 100vh;
      margin: 10vh 0 0 0;
      display: flex;
      flex-wrap: wrap;

      .card-logo {
        height: 100vh;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          max-height: 320px;
          max-width: 100%;
          height: auto;
          width: auto;
        }
      }

      .card-text {
        height: 100vh;
        width: 50%;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .card-title {
          justify-content: center;
          align-items: center;

          h1 {
            font-size: 48px;
            font-family: Georgia, serif;
            height: auto;
            width: 100%;
            justify-content: center;
            align-items: center;

            animation: fadeInText 1s ease-in forwards;
            background: linear-gradient(to right, violet, pink, skyblue);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }

        .card-parapgraph {
          p {
            color: white;
            font-size: 16px;
            font-family: Georgia, serif;
            text-align: justify;
            animation: fadeInText 1s ease-in forwards;
          }
        }
      }
    }

    .home-presentation {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      .profile-card {
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 80px;
        backdrop-filter: blur(2px) saturate(180%);
        -webkit-backdrop-filter: blur(2px) saturate(180%);
        background-color: rgba(17, 25, 40, 0.75);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.125);
      }

      background-image: url("https://res.cloudinary.com/dcfmvazgl/image/upload/v1727608998/Wash%20portfolio/owl_vccokp.png");
      background-size: cover;
      background-position: center;
      align-items: center;

      box-shadow: inset 60px 60px 60px 60px rgba(0, 0, 0, 0.5);
      position: relative;
      opacity: 1;
      transform: translateY(0);
      transition: opacity 0.5s ease, transform 1s ease;
    }
  }
}

// Media queries para diseño responsive
@media screen and (max-width: 1024px) {
  .presentation {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;


    .card-logo {
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid white;

    }

    .card-text {
      width: 100%;
      height: auto;
    }

  }

  .home-presentation .profile-card {
    width: 80%;
    margin: 40px;
  }
}

@media screen and (max-width: 768px) {
  .presentation {
    margin: 5vh 0 0 0;

    .card-logo, .card-text {
      height: auto;
    }

    .card-text {
      .card-title h1 {
        font-size: 28px;
      }

      .card-parapgraph p {
        font-size: 12px;
      }
    }
  }

  .home-presentation .profile-card {
    margin: 20px;
  }
}

@media screen and (max-width: 480px) {
  .presentation {
    .card-text {
      .card-title h1 {
        font-size: 24px;
      }

      .card-parapgraph p {
        font-size: 10px;
      }
    }
  }

  .home-presentation .profile-card {
    width: 90%;
  }
}

// Scrollbar oculto
.home-container::-webkit-scrollbar {
  display: none;
}

// Clase para ocultar la presentación
.hidden {
  opacity: 0;
  transform: translateY(-10px);
}
