// SCSS correspondiente a home page

// caracteristicas generales de la pagina
.home-container {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

// carta de presentacion
.home-presentation {
  display: flex;
  flex-direction: column;

  background-image: url("");
  justify-content: center;
  align-items: center;
  margin: 8px 0 0 0;

}
