// Specific CSS for your home-page

// home-container
.home-container{
  height: 100vh;
}
// home-container

// home-card-presentation
.home-card-presentation{
  background-image: url("owl.jpg");
  size: cover;
}

// home-card-title

.home-card-title{
  display: flex;
  justify-content: center;
  color: white;
  height: 30%;
  margin-top: 32px;
}



.home-card-paragraph{
  display: flex;
  justify-content: center;
  color: white;
  height: 30%;
  margin: 24px;
}
// home-card-presentation

// home-logo
.home-logo{
  display: flex;
  justify-content: center;
}
// home-logo

// card-skills
.card-skills {
  width: 168px;
  height: 254px;
  --border-radius: 15px;
  --border-width: 4px;
  appearance: none;
  position: relative;
  padding: 1em 2em;
  border: 0;
  background: rgb(5, 5, 22);
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  z-index: 2;
  border-radius: 15px;
 }

 .card-skills::after {
  --m-i: linear-gradient(#000, #000);
  --m-o: content-box, padding-box;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: var(--border-width);
  border-radius: var(--border-radius);
  background-image: conic-gradient(
     #488cfb,
     #29dbbc,
     #ddf505,
     #ff9f0e,
     #e440bb,
     #655adc,
     #488cfb
   );
  -webkit-mask-image: var(--m-i), var(--m-i);
  mask-image: var(--m-i), var(--m-i);
  -webkit-mask-origin: var(--m-o);
  mask-origin: var(--m-o);
  -webkit-mask-clip: var(--m-o);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  filter: hue-rotate(0);
  animation: rotate-hue linear 500ms infinite;
  animation-play-state: paused;
 }

 .card-skills:hover::after {
  animation-play-state: running;
 }

 @keyframes rotate-hue {
  to {
   filter: hue-rotate(1turn);
  }
 }

 .card-skills,
 .card-skills::after {
  box-sizing: border-box;
 }

 .card-skills:active {
  --border-width: 5px;
 }

//
.container-card-skills-1{
  display: flex;
  justify-content: space-between;
  margin: 16px;
}

.card-skills img{
  width: 100px;
  height: 100px;
  margin: auto;
  background-size: cover;
}

.card-skills-image{
  display: flex;
  justify-content: center;
}

.card-skills-image img{
  background-size: cover;
}

.card-skills-h2{
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  color: white;
  margin: 16px;
}

.home-card-h2{
  color: white;
  display: flex;
  justify-content: center;
  margin: 16px;
}
// container-card-skills-1

// container-card-skills-2
.container-card-skills-2{
  display: flex;
  justify-content: space-between;

}
// container-card-skills-2

// home-cards-skills-container
.home-cards-skills-container{
  justify-content: center;

}
// home-cards-skills-container

// card-skills-container-1
.card-skills-container-1{
  display: flex;
  justify-content: center;
  margin: 16px;
}
// card-skills-container-1

// card-skills-container-2
.card-skills-container-2{
  display: flex;
  justify-content: center;
  margin: 16px;
}
// card-skills-container-2
