// SCSS correspondiente a prices

// características generales de la página
.prices-container {

}

@media screen and (min-width: 1025px) {

  .prices-container {

  }
}

// Media queries para diseño responsive
@media screen and (max-width: 1024px) {

  .prices-container {

  }
}

@media screen and (max-width: 768px) {

  .prices-container {

  }
}

@media screen and (max-width: 480px) {

  .prices-container {

  }
}
