// SCSS correspondiente a prices

// características generales de la página
.prices-container {
  width: 100%;
  height: 100%;

  .price-title {
    width: 100%;

    h2 {
      height: auto;
      width: 100%;
      font-size: 48px;
      margin: 16px;
      font-family: Georgia, serif;
      display: flex;
      justify-content: center;
      align-items: center;

      // animacion
      animation: fadeInText 1s ease-in forwards;
      background: linear-gradient(to right, violet, pink, skyblue);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

  }

  .price-presentation {

    p {
      color: white;
      font-size: 16px;
      font-family: Georgia, serif;
      text-align: justify;
    }
  }

}

@media screen and (min-width: 1025px) {

  .prices-container {

  }
}

// Media queries para diseño responsive
@media screen and (max-width: 1024px) {

  .prices-container {

  }
}

@media screen and (max-width: 768px) {

  .prices-container {

  }
}

@media screen and (max-width: 480px) {

  .prices-container {

  }
}
