// SCSS correspondiente a prices

// características generales de la página
.prices-container {
  width: 100%;
  height: 100%;
  padding: 16px;

  .price-title {
    width: 100%;

    h2 {
      height: auto;
      width: 100%;
      font-size: 48px;
      margin: 16px;
      font-family: Georgia, serif;
      display: flex;
      justify-content: center;
      align-items: center;

      // animacion
      animation: fadeInText 1s ease-in forwards;
      background: linear-gradient(to right, violet, pink, skyblue);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

  }

  .price-presentation {
    width: 100%;

    p {
      color: white;
      font-size: 16px;
      font-family: Georgia, serif;
      text-align: justify;
    }
  }

  .prices-plans {
    width: 100%;
    display: flex;
    padding: 16px;

    .basic-plan {
      padding: 16px;

      // efecto de glass
      backdrop-filter: blur(4px) saturate(180%);
      -webkit-backdrop-filter: blur(4px) saturate(180%);
      background-color: rgba(17, 25, 40, 0);
      border-radius: 12px;
      border: 1px solid rgba(255, 255, 255, 0.125);

      h2 {
        font-size: 24px;
        font-family: Georgia, serif;
        color: white;
        text-align: center;
        background: linear-gradient(to right, violet, pink, skyblue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      p {
        color: white;
        font-size: 16px;
        font-family: Georgia, serif;
        text-align: justify;
      }

      ul {

        li {
          color: white;
          font-size: 16px;
          font-family: Georgia, serif;
          text-align: justify;
        }
      }
    }

    .standar-plan {

      padding: 16px;
      margin: 0 16px;

      // efecto de glass
      backdrop-filter: blur(4px) saturate(180%);
      -webkit-backdrop-filter: blur(4px) saturate(180%);
      background-color: rgba(17, 25, 40, 0);
      border-radius: 12px;
      border: 1px solid rgba(255, 255, 255, 0.125);

      h2 {
        font-size: 24px;
        font-family: Georgia, serif;
        color: white;
        text-align: center;
        background: linear-gradient(to right, violet, pink, skyblue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      p {
        color: white;
        font-size: 16px;
        font-family: Georgia, serif;
        text-align: justify;
      }

      ul {

        li {
          color: white;
          font-size: 16px;
          font-family: Georgia, serif;
          text-align: justify;
        }
      }
    }

    .premium-plan {

      padding: 16px;


      // efecto de glass
      backdrop-filter: blur(4px) saturate(180%);
      -webkit-backdrop-filter: blur(4px) saturate(180%);
      background-color: rgba(17, 25, 40, 0);
      border-radius: 12px;
      border: 1px solid rgba(255, 255, 255, 0.125);

      h2 {
        font-size: 24px;
        font-family: Georgia, serif;
        color: white;
        text-align: center;
        background: linear-gradient(to right, violet, pink, skyblue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      p {
        color: white;
        font-size: 16px;
        font-family: Georgia, serif;
        text-align: justify;
      }

      ul {

        li {
          color: white;
          font-size: 16px;
          font-family: Georgia, serif;
          text-align: justify;
        }
      }
    }

    .community-plan {
      width: 100%;
      display: flex;
      padding: 16px;

      padding: 16px;
      // efecto de glass
      backdrop-filter: blur(4px) saturate(180%);
      -webkit-backdrop-filter: blur(4px) saturate(180%);
      background-color: rgba(17, 25, 40, 0);
      border-radius: 12px;
      border: 1px solid rgba(255, 255, 255, 0.125);

      h2 {
        font-size: 24px;
        font-family: Georgia, serif;
        color: white;
        text-align: center;
        background: linear-gradient(to right, violet, pink, skyblue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      p {
        color: white;
        font-size: 16px;
        font-family: Georgia, serif;
        text-align: justify;
      }

      ul {

        li  {
          color: white;
          font-size: 16px;
          font-family: Georgia, serif;
          text-align: justify;
        }
      }

    }

  }

  .special-plan {
    width: 100%;
    display: flex;
    padding: 16px;
  }

}

@media screen and (min-width: 1025px) {

  .prices-container {

  }
}

// Media queries para diseño responsive
@media screen and (max-width: 1024px) {

  .prices-container {

  }
}

@media screen and (max-width: 768px) {

  .prices-container {

    .prices-plans {
      display: flex;
      flex-direction: column;
    }

  }
}

@media screen and (max-width: 480px) {

  .prices-container {
    width: 100%;
    height: 100%;
    padding: 16px;

    .price-title {
      width: 100%;

      h2 {
        height: auto;
        width: 100%;
        font-size: 48px;
        margin: 16px;
        font-family: Georgia, serif;
        display: flex;
        justify-content: center;
        align-items: center;

        // animacion
        animation: fadeInText 1s ease-in forwards;
        background: linear-gradient(to right, violet, pink, skyblue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

    }

    .price-presentation {
      width: 100%;

      p {
        color: white;
        font-size: 16px;
        font-family: Georgia, serif;
        text-align: justify;
      }
    }

    .prices-plans {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 16px;

      .basic-plan {
        padding: 16px;

        // efecto de glass
        backdrop-filter: blur(4px) saturate(180%);
        -webkit-backdrop-filter: blur(4px) saturate(180%);
        background-color: rgba(17, 25, 40, 0);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.125);

        h2 {
          font-size: 24px;
          font-family: Georgia, serif;
          color: white;
          text-align: center;
          background: linear-gradient(to right, violet, pink, skyblue);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        p {
          color: white;
          font-size: 16px;
          font-family: Georgia, serif;
          text-align: justify;
        }

        ul {

          li {
            color: white;
            font-size: 16px;
            font-family: Georgia, serif;
            text-align: justify;
          }
        }
      }

      .standar-plan {

        padding: 16px;
        margin:  16px 0;

        // efecto de glass
        backdrop-filter: blur(4px) saturate(180%);
        -webkit-backdrop-filter: blur(4px) saturate(180%);
        background-color: rgba(17, 25, 40, 0);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.125);

        h2 {
          font-size: 24px;
          font-family: Georgia, serif;
          color: white;
          text-align: center;
          background: linear-gradient(to right, violet, pink, skyblue);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        p {
          color: white;
          font-size: 16px;
          font-family: Georgia, serif;
          text-align: justify;
        }

        ul {

          li {
            color: white;
            font-size: 16px;
            font-family: Georgia, serif;
            text-align: justify;
          }
        }
      }

      .premium-plan {

        padding: 16px;


        // efecto de glass
        backdrop-filter: blur(4px) saturate(180%);
        -webkit-backdrop-filter: blur(4px) saturate(180%);
        background-color: rgba(17, 25, 40, 0);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.125);

        h2 {
          font-size: 24px;
          font-family: Georgia, serif;
          color: white;
          text-align: center;
          background: linear-gradient(to right, violet, pink, skyblue);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        p {
          color: white;
          font-size: 16px;
          font-family: Georgia, serif;
          text-align: justify;
        }

        ul {

          li {
            color: white;
            font-size: 16px;
            font-family: Georgia, serif;
            text-align: justify;
          }
        }
      }

      .community-plan {
        width: 100%;
        display: flex;
        padding: 16px;

        padding: 16px;
        // efecto de glass
        backdrop-filter: blur(4px) saturate(180%);
        -webkit-backdrop-filter: blur(4px) saturate(180%);
        background-color: rgba(17, 25, 40, 0);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.125);

        h2 {
          font-size: 24px;
          font-family: Georgia, serif;
          color: white;
          text-align: center;
          background: linear-gradient(to right, violet, pink, skyblue);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        p {
          color: white;
          font-size: 16px;
          font-family: Georgia, serif;
          text-align: justify;
        }

        ul {

          li  {
            color: white;
            font-size: 16px;
            font-family: Georgia, serif;
            text-align: justify;
          }
        }

      }

    }

    .special-plan {
      width: 100%;
      display: flex;
      padding: 16px;
    }

  }
}
