// Contenedor general
.projects-container {
  // disposicion general de la div container
  width: 100%;
  align-items: center;
  justify-content: center;

  h1, p {
    animation: fadeInText 1s ease-in forwards;
  }

  @keyframes fadeInText {
    0% {
      opacity: 0;
      transform: scale(1.4);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  // titulo con animacion - project-card-title
  .project-card-title {
    h1 {
      font-size: 48px;
      font-family: Georgia, serif;
      height: auto;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 16px 24px;

      animation: fadeInText 1s ease-in forwards;
      background: linear-gradient(to right, violet, pink, skyblue);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  // texto de proyectos - project-card-text-container
  .project-card-text-container {
    display: flex;
    justify-content: space-between;
    padding: 24px;

    p {
      color: white;
      font-size: 16px;
      font-family: Georgia, serif;
      text-align: justify; // Aligns text evenly along both the left and right edges
    }
  }

  // estilo carta de projects fullstack
  /* From Uiverse.io by MikeAndrewDesigner */
  .e-card {
    margin: 100px auto;
    background: transparent;
    box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
    position: relative;
    width: 100%;
    height: 330px;
    border-radius: 16px;
    overflow: hidden;
  }

  .wave {
    position: absolute;
    width: 540px;
    height: 700px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -50%;
    margin-top: -70%;
    background: linear-gradient(744deg,#af40ff,#5b42f3 60%,#00ddeb);
  }

  .icon {
    width: 3em;
    margin-top: -1em;
    padding-bottom: 1em;
  }

  .infotop {
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 5.6em;
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    font-weight: 600;
  }

  .name {
    font-size: 14px;
    font-weight: 100;
    position: relative;
    top: 1em;
    text-transform: lowercase;
  }

  .wave:nth-child(2),
  .wave:nth-child(3) {
    top: 210px;
  }

  .playing .wave {
    border-radius: 40%;
    animation: wave 3000ms infinite linear;
  }

  .wave {
    border-radius: 40%;
    animation: wave 55s infinite linear;
  }

  .playing .wave:nth-child(2) {
    animation-duration: 4000ms;
  }

  .wave:nth-child(2) {
    animation-duration: 50s;
  }

  .playing .wave:nth-child(3) {
    animation-duration: 5000ms;
  }

  .wave:nth-child(3) {
    animation-duration: 45s;
  }

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }


  .projects-card-fullstack {

    .projects-card-fullstack-title {

      h2 {

        color: white;
        font-size: 24px;
        text-align: center;
        animation: myAnim 1s ease-in 0s 1 alternate forwards;

        @keyframes myAnim {
          0% {
            opacity: 0;
            transform: scale(1.4);
            transition-delay: 1s;
          }

          100% {
            opacity: 1;
            transform: scale(1);
          }
        }


      }

    }

    // carta contenedora de los proyectos
    .nft-container {
      display: flex;

        .nft {
          user-select: none;
          max-width: 300px;
          margin: 5rem auto;
          border: 1px solid #ffffff22;
          background-color: #282c34;
          background: linear-gradient(0deg, rgba(40, 44, 52, 1) 0%, rgba(17, 0, 32, 0.5) 100%);
          box-shadow: 0 7px 20px 5px #00000088;
          border-radius: 0.7rem;
          backdrop-filter: blur(7px);
          -webkit-backdrop-filter: blur(7px);
          overflow: hidden;
          transition: 0.5s all;

          hr {
            width: 100%;
            border: none;
            border-bottom: 1px solid #88888855;
            margin-top: 0;
          }

          ins {
            text-decoration: none;
          }

          .main {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 1rem;

            .tokenImage {
              border-radius: 0.5rem;
              max-width: 100%;
              height: 250px;
              object-fit: cover;
            }

            .description {
              margin: 0.5rem 0;
              color: #a89ec9;
            }

            .tokenInfo {
              display: flex;
              justify-content: space-between;
              align-items: center;

              .price {
                display: flex;
                align-items: center;
                color: #ee83e5;
                font-weight: 700;

                ins {
                  margin-left: -0.3rem;
                  margin-right: 0.5rem;
                }
              }

              .duration {
                display: flex;
                align-items: center;
                color: #a89ec9;
                margin-right: 0.2rem;

                ins {
                  margin: 0.5rem;
                  margin-bottom: 0.4rem;
                }
              }
            }

            .creator {
              display: flex;
              align-items: center;
              margin-top: 0.2rem;
              margin-bottom: -0.3rem;

              ins {
                color: #a89ec9;
                text-decoration: none;
              }

              .wrapper {
                display: flex;
                align-items: center;
                border: 1px solid #ffffff22;
                padding: 0.3rem;
                margin: 0;
                margin-right: 0.5rem;
                border-radius: 100%;
                box-shadow: inset 0 0 0 4px #000000aa;

                img {
                  border-radius: 100%;
                  border: 1px solid #ffffff22;
                  width: 2rem;
                  height: 2rem;
                  object-fit: cover;
                  margin: 0;
                }
              }
            }
          }
          &::before {
            position: fixed;
            content: "";
            box-shadow: 0 0 100px 40px #ffffff08;
            top: -10%;
            left: -100%;
            transform: rotate(-45deg);
            height: 60rem;
            transition: 0.7s all;
          }

          &:hover {
            border: 1px solid #ffffff44;
            box-shadow: 0 7px 50px 10px #000000aa;
            transform: scale(1.015);
            filter: brightness(1.3);

            &::before {
              filter: brightness(0.5);
              top: -100%;
              left: 200%;
            }
          }
        }

    }

    .bg {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      h1 {
        font-size: 20rem;
        filter: opacity(0.5);
      }
    }

    .main-image {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    .main img {
      width: 200px;
      height: 200px;
    }

    .volleyball-pro {
      display: flex;
      justify-content: center;
      width: 100%;
      border: 1px solid white;
    }

    .volleyball-pro img {
      width: 200px;
      height: 100px;
    }

    .projects-social-media {
      color: white;
      border: 1px solid white;
    }
  }

}
