// SCSS correspondiente a projects

// Contenedor general projects-container
.projects-container {
  // disposicion general de la div container
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;


  h1, h2, p {
    font-family: Georgia, serif;
    animation: fadeInText 1s ease-in forwards;
  }

  @keyframes fadeInText {
    0% {
      opacity: 0;
      transform: scale(1.4);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  // titulo con animacion - project-card-title
  .project-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; // Alinea el texto al centro

    h1 {
      font-size: 48px;
      font-family: Georgia, serif;
      height: auto;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 16px 24px;

      animation: fadeInText 1s ease-in forwards;
      background: linear-gradient(to right, violet, pink, skyblue);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  // texto de proyectos - project-card-text-container
  .project-card-text-container {
    display: flex;
    justify-content: space-between;
    padding: 24px;

    p {
      color: white;
      font-size: 16px;
      font-family: Georgia, serif;
      text-align: justify; // Aligns text evenly along both the left and right edges
    }
  }

  // estilo carta de projects fullstack start
  .project-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(4px) saturate(180%);
    background-color: rgba(17, 25, 40, 0);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    position: relative;
    margin: 16px;
    padding: 16px;
    border-radius: 15px;

    .projects-card-fullstack-title {

      h2 {

        font-size: 48px;
        font-family: Georgia, serif;
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 16px 24px;
        text-align: center;
        animation: fadeInText 1s ease-in forwards;
        background: linear-gradient(to right, violet, pink, skyblue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @keyframes myAnim {
          0% {
            opacity: 0;
            transform: scale(1.4);
            transition-delay: 1s;
          }

          100% {
            opacity: 1;
            transform: scale(1);
          }
        }


      }


    }

    .ntf-card-container {
      display: flex;
      justify-content: space-around;

      // carta de NFT Hive
      .nft-card-hive{
        display: flex;
        flex-direction: column;
        height: 350px;
        width: 300px;

        background-color: hsla(172.99999999999994, 0%, 100%, 1);
        background-image: radial-gradient(circle at 1% 2%, hsla(249.99999999999994, 76%, 61%, 0.59) 7%, transparent 84%), radial-gradient(circle at 95% 96%, hsla(166.53061224489795, 71%, 60%, 0.24) 7%, transparent 84%), radial-gradient(circle at 2% 98%, hsla(296.47058823529414, 100%, 51%, 0.25) 7%, transparent 84%);
        background-blend-mode: normal, normal, normal;
        border-radius: 15px;
        border: 2px solid rgba(255, 255, 255, 0.125);

        // imagen de la carta NFT
        .ntf-card-img {
          height: 50%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            height: 250px;
            width: 250px;
          }

        }

        // titulo de la carta NFT
        .ntf-card-title {

          h2 {
            font-size: 32px;
            font-family: Georgia, serif;
            height: auto;
            width: 100%;
            display: flex;
            justify-content: start;
            align-items: center;
            padding: 16px 24px;
            text-align: center;
            animation: fadeInText 1s ease-in forwards;
            background-image: radial-gradient(circle at 1% 2%, hsla(249.99999999999994, 76%, 61%, 0.59) 7%, transparent 90%), radial-gradient(circle at 95% 96%, hsla(166.53061224489795, 71%, 60%, 0.24) 7%, transparent 90%), radial-gradient(circle at 2% 98%, hsla(296.47058823529414, 100%, 51%, 0.25) 7%, transparent 90%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

        }

        // descripcion de la carta NFT
        .ntf-card-description {
          height: 50%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 8px;

          p {
            color: white;
            font-size: 16px;
            font-family: Georgia, serif;
            text-align: justify;
          }

        }


      }

      // carta de NFT EventBnb
      .nft-card-EventBnb {
        display: flex;
        flex-direction: column;
        height: 350px;
        width: 300px;

        background-color: hsla(172.99999999999994, 0%, 100%, 1);
        background-image: radial-gradient(circle at 1% 2%, hsla(249.99999999999994, 76%, 61%, 0.59) 7%, transparent 84%), radial-gradient(circle at 95% 96%, hsla(166.53061224489795, 71%, 60%, 0.24) 7%, transparent 84%), radial-gradient(circle at 2% 98%, hsla(296.47058823529414, 100%, 51%, 0.25) 7%, transparent 84%);
        background-blend-mode: normal, normal, normal;
        border-radius: 15px;
        border: 2px solid rgba(255, 255, 255, 0.125);

        // imagen de la carta NFT
        .ntf-card-img {
          height: 50%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          img {

            height: 200px;
            width: 200px;
          }

        }

        // titulo de la carta NFT
        .ntf-card-title {

        h2 {
          font-size: 32px;
          font-family: Georgia, serif;
          height: auto;
          width: 100%;
          display: flex;
          justify-content: start;
          align-items: center;
          padding: 16px 24px;
          text-align: center;
          animation: fadeInText 1s ease-in forwards;
          background-image: radial-gradient(circle at 1% 2%, hsla(249.99999999999994, 76%, 61%, 0.59) 7%, transparent 90%), radial-gradient(circle at 95% 96%, hsla(166.53061224489795, 71%, 60%, 0.24) 7%, transparent 90%), radial-gradient(circle at 2% 98%, hsla(296.47058823529414, 100%, 51%, 0.25) 7%, transparent 90%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        }

        // descripcion de la carta NFT
        .ntf-card-description {
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;

        p {
          color: white;
          font-size: 16px;
          font-family: Georgia, serif;
          text-align: justify;
        }

        }


      }

    }



  }

}

@media screen and (min-width: 1280px) {

  .projects-container {

    h1, h2, p {

    }

    @keyframes fadeInText {
      0% {
        opacity: 0;
        transform: scale(1.4);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }

    // titulo con animacion - project-card-title
    .project-card-title {

      h1 {

      }
    }

    // texto de proyectos - project-card-text-container
    .project-card-text-container {

      p {

      }
    }

    // estilo carta de projects fullstack start
    .project-card-container {

      .projects-card-fullstack-title {

        h2 {

        }

      }

      .ntf-card-container {

        // carta de NFT Hive
        .nft-card-hive{
          margin: 8px 0;

          // imagen de la carta NFT
          .ntf-card-img {

            img {

            }

          }

          // titulo de la carta NFT
          .ntf-card-title {

            h2 {

            }

          }

          // descripcion de la carta NFT
          .ntf-card-description {

            p {

            }

          }


        }

        // carta de NFT EventBnb
        .nft-card-EventBnb {
          display: flex;
          flex-direction: column;
          height: 350px;
          width: 300px;
          margin: 8px 0;

          background-color: hsla(172.99999999999994, 0%, 100%, 1);
          background-image: radial-gradient(circle at 1% 2%, hsla(249.99999999999994, 76%, 61%, 0.59) 7%, transparent 84%), radial-gradient(circle at 95% 96%, hsla(166.53061224489795, 71%, 60%, 0.24) 7%, transparent 84%), radial-gradient(circle at 2% 98%, hsla(296.47058823529414, 100%, 51%, 0.25) 7%, transparent 84%);
          background-blend-mode: normal, normal, normal;
          border-radius: 15px;
          border: 2px solid rgba(255, 255, 255, 0.125);

          // imagen de la carta NFT
          .ntf-card-img {
            height: 50%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {

              height: 200px;
              width: 200px;
            }

          }

          // titulo de la carta NFT
          .ntf-card-title {

          h2 {
            font-size: 32px;
            font-family: Georgia, serif;
            height: auto;
            width: 100%;
            display: flex;
            justify-content: start;
            align-items: center;
            padding: 16px 24px;
            text-align: center;
            animation: fadeInText 1s ease-in forwards;
            background-image: radial-gradient(circle at 1% 2%, hsla(249.99999999999994, 76%, 61%, 0.59) 7%, transparent 90%), radial-gradient(circle at 95% 96%, hsla(166.53061224489795, 71%, 60%, 0.24) 7%, transparent 90%), radial-gradient(circle at 2% 98%, hsla(296.47058823529414, 100%, 51%, 0.25) 7%, transparent 90%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          }

          // descripcion de la carta NFT
          .ntf-card-description {
          height: 50%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 8px;

          p {
            color: white;
            font-size: 16px;
            font-family: Georgia, serif;
            text-align: justify;
          }

          }


        }

      }



    }

  }

}

@media screen and (max-width: 768px) {

  .projects-container {
    // disposicion general de la div container
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;


    h1, h2, p {
      font-family: Georgia, serif;
      animation: fadeInText 1s ease-in forwards;
    }

    @keyframes fadeInText {
      0% {
        opacity: 0;
        transform: scale(1.4);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }

    // titulo con animacion - project-card-title
    .project-card-title {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center; // Alinea el texto al centro

      h1 {
        font-size: 48px;
        font-family: Georgia, serif;
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 16px 24px;

        animation: fadeInText 1s ease-in forwards;
        background: linear-gradient(to right, violet, pink, skyblue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    // texto de proyectos - project-card-text-container
    .project-card-text-container {
      display: flex;
      justify-content: space-between;
      padding: 24px;

      p {
        color: white;
        font-size: 16px;
        font-family: Georgia, serif;
        text-align: justify; // Aligns text evenly along both the left and right edges
      }
    }

    // estilo carta de projects fullstack start
    .project-card-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      backdrop-filter: blur(4px) saturate(180%);
      -webkit-backdrop-filter: blur(4px) saturate(180%);
      background-color: rgba(17, 25, 40, 0);
      border-radius: 15px;
      border: 1px solid rgba(255, 255, 255, 0.125);
      position: relative;
      margin: 16px;
      padding: 16px;
      border-radius: 15px;

      .projects-card-fullstack-title {

        h2 {


          font-size: 48px;
          font-family: Georgia, serif;
          height: auto;
          width: 100%;
          justify-content: center;
          align-items: center;
          padding: 16px 24px;
          text-align: center;
          animation: fadeInText 1s ease-in forwards;
          background: linear-gradient(to right, violet, pink, skyblue);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

          @keyframes myAnim {
            0% {
              opacity: 0;
              transform: scale(1.4);
              transition-delay: 1s;
            }

            100% {
              opacity: 1;
              transform: scale(1);
            }
          }


        }


      }

      .ntf-card-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 16px;

        // carta de NFT Hive
        .nft-card-hive{
          display: flex;
          flex-direction: column;
          height: 350px;
          width: 300px;
          margin: 8px 0;

          background-color: hsla(172.99999999999994, 0%, 100%, 1);
          background-image: radial-gradient(circle at 1% 2%, hsla(249.99999999999994, 76%, 61%, 0.59) 7%, transparent 84%), radial-gradient(circle at 95% 96%, hsla(166.53061224489795, 71%, 60%, 0.24) 7%, transparent 84%), radial-gradient(circle at 2% 98%, hsla(296.47058823529414, 100%, 51%, 0.25) 7%, transparent 84%);
          background-blend-mode: normal, normal, normal;
          border-radius: 15px;
          border: 2px solid rgba(255, 255, 255, 0.125);

          // imagen de la carta NFT
          .ntf-card-img {
            height: 50%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

             img {
              height: 250px;
              width: 250px;
            }

          }

          // titulo de la carta NFT
          .ntf-card-title {

          h2 {
              font-size: 32px;
              font-family: Georgia, serif;
              height: auto;
              width: 100%;
              display: flex;
              justify-content: start;
              align-items: center;
              padding: 16px 24px;
              text-align: center;
              animation: fadeInText 1s ease-in forwards;
              background-image: radial-gradient(circle at 1% 2%, hsla(249.99999999999994, 76%, 61%, 0.59) 7%, transparent 90%), radial-gradient(circle at 95% 96%, hsla(166.53061224489795, 71%, 60%, 0.24) 7%, transparent 90%), radial-gradient(circle at 2% 98%, hsla(296.47058823529414, 100%, 51%, 0.25) 7%, transparent 90%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }

          }

          // descripcion de la carta NFT
          .ntf-card-description {
          height: 50%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 8px;

            p {
              color: white;
              font-size: 16px;
              font-family: Georgia, serif;
              text-align: justify;
            }

          }

        }

        // carta de NFT EventBnb
        .nft-card-EventBnb {
          display: flex;
          flex-direction: column;
          height: 350px;
          width: 300px;
          margin: 8px 0;

          background-color: hsla(172.99999999999994, 0%, 100%, 1);
          background-image: radial-gradient(circle at 1% 2%, hsla(249.99999999999994, 76%, 61%, 0.59) 7%, transparent 84%), radial-gradient(circle at 95% 96%, hsla(166.53061224489795, 71%, 60%, 0.24) 7%, transparent 84%), radial-gradient(circle at 2% 98%, hsla(296.47058823529414, 100%, 51%, 0.25) 7%, transparent 84%);
          background-blend-mode: normal, normal, normal;
          border-radius: 15px;
          border: 2px solid rgba(255, 255, 255, 0.125);

          // imagen de la carta NFT
          .ntf-card-img {
            height: 50%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
             img {
              height: 200px;
               width: 200px;
            }
          }

          // titulo de la carta NFT
          .ntf-card-title {

            h2 {
              font-size: 32px;
              font-family: Georgia, serif;
              height: auto;
              width: 100%;
              display: flex;
              justify-content: start;
              align-items: center;
              padding: 16px 24px;
              text-align: center;
              animation: fadeInText 1s ease-in forwards;
              background-image: radial-gradient(circle at 1% 2%, hsla(249.99999999999994, 76%, 61%, 0.59) 7%, transparent 90%), radial-gradient(circle at 95% 96%, hsla(166.53061224489795, 71%, 60%, 0.24) 7%, transparent 90%), radial-gradient(circle at 2% 98%, hsla(296.47058823529414, 100%, 51%, 0.25) 7%, transparent 90%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }

          }

          // descripcion de la carta NFT
          .ntf-card-description {
            height: 50%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px;

            p {
              color: white;
              font-size: 16px;
              font-family: Georgia, serif;
              text-align: justify;
            }
          }

        }

      }

    }

  }

}

@media screen and (max-width: 480px) {

  .projects-container {
    // disposicion general de la div container
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;


    h1, h2, p {
      font-family: Georgia, serif;
      animation: fadeInText 1s ease-in forwards;
    }

    @keyframes fadeInText {
      0% {
        opacity: 0;
        transform: scale(1.4);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }

    // titulo con animacion - project-card-title
    .project-card-title {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center; // Alinea el texto al centro

      h1 {
        font-size: 48px;
        font-family: Georgia, serif;
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 16px 24px;

        animation: fadeInText 1s ease-in forwards;
        background: linear-gradient(to right, violet, pink, skyblue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    // texto de proyectos - project-card-text-container
    .project-card-text-container {
      display: flex;
      justify-content: space-between;
      padding: 24px;

      p {
        color: white;
        font-size: 16px;
        font-family: Georgia, serif;
        text-align: justify; // Aligns text evenly along both the left and right edges
      }
    }

    // estilo carta de projects fullstack start
    .project-card-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      backdrop-filter: blur(4px) saturate(180%);
      -webkit-backdrop-filter: blur(4px) saturate(180%);
      background-color: rgba(17, 25, 40, 0);
      border-radius: 15px;
      border: 1px solid rgba(255, 255, 255, 0.125);
      position: relative;
      margin: 16px;
      padding: 16px;
      border-radius: 15px;

      .projects-card-fullstack-title {

        h2 {


          font-size: 48px;
          font-family: Georgia, serif;
          height: auto;
          width: 100%;
          justify-content: center;
          align-items: center;
          padding: 16px 24px;
          text-align: center;
          animation: fadeInText 1s ease-in forwards;
          background: linear-gradient(to right, violet, pink, skyblue);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

          @keyframes myAnim {
            0% {
              opacity: 0;
              transform: scale(1.4);
              transition-delay: 1s;
            }

            100% {
              opacity: 1;
              transform: scale(1);
            }
          }


        }


      }

      .ntf-card-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        // carta de NFT Hive
        .nft-card-hive{
          display: flex;
          flex-direction: column;
          height: 350px;
          width: 300px;
          margin: 8px 0;

          background-color: hsla(172.99999999999994, 0%, 100%, 1);
          background-image: radial-gradient(circle at 1% 2%, hsla(249.99999999999994, 76%, 61%, 0.59) 7%, transparent 84%), radial-gradient(circle at 95% 96%, hsla(166.53061224489795, 71%, 60%, 0.24) 7%, transparent 84%), radial-gradient(circle at 2% 98%, hsla(296.47058823529414, 100%, 51%, 0.25) 7%, transparent 84%);
          background-blend-mode: normal, normal, normal;
          border-radius: 15px;
          border: 2px solid rgba(255, 255, 255, 0.125);

          // imagen de la carta NFT
          .ntf-card-img {
            height: 50%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

             img {
              height: 250px;
              width: 250px;
            }

          }

          // titulo de la carta NFT
          .ntf-card-title {

          h2 {
              font-size: 32px;
              font-family: Georgia, serif;
              height: auto;
              width: 100%;
              display: flex;
              justify-content: start;
              align-items: center;
              padding: 16px 24px;
              text-align: center;
              animation: fadeInText 1s ease-in forwards;
              background-image: radial-gradient(circle at 1% 2%, hsla(249.99999999999994, 76%, 61%, 0.59) 7%, transparent 90%), radial-gradient(circle at 95% 96%, hsla(166.53061224489795, 71%, 60%, 0.24) 7%, transparent 90%), radial-gradient(circle at 2% 98%, hsla(296.47058823529414, 100%, 51%, 0.25) 7%, transparent 90%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }

          }

          // descripcion de la carta NFT
          .ntf-card-description {
          height: 50%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 8px;

            p {
              color: white;
              font-size: 16px;
              font-family: Georgia, serif;
              text-align: justify;
            }

          }

        }

        // carta de NFT EventBnb
        .nft-card-EventBnb {
          display: flex;
          flex-direction: column;
          height: 350px;
          width: 300px;
          margin: 8px 0;

          background-color: hsla(172.99999999999994, 0%, 100%, 1);
          background-image: radial-gradient(circle at 1% 2%, hsla(249.99999999999994, 76%, 61%, 0.59) 7%, transparent 84%), radial-gradient(circle at 95% 96%, hsla(166.53061224489795, 71%, 60%, 0.24) 7%, transparent 84%), radial-gradient(circle at 2% 98%, hsla(296.47058823529414, 100%, 51%, 0.25) 7%, transparent 84%);
          background-blend-mode: normal, normal, normal;
          border-radius: 15px;
          border: 2px solid rgba(255, 255, 255, 0.125);

          // imagen de la carta NFT
          .ntf-card-img {
            height: 50%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
             img {
              height: 200px;
               width: 200px;
            }
          }

          // titulo de la carta NFT
          .ntf-card-title {

            h2 {
              font-size: 32px;
              font-family: Georgia, serif;
              height: auto;
              width: 100%;
              display: flex;
              justify-content: start;
              align-items: center;
              padding: 16px 24px;
              text-align: center;
              animation: fadeInText 1s ease-in forwards;
              background-image: radial-gradient(circle at 1% 2%, hsla(249.99999999999994, 76%, 61%, 0.59) 7%, transparent 90%), radial-gradient(circle at 95% 96%, hsla(166.53061224489795, 71%, 60%, 0.24) 7%, transparent 90%), radial-gradient(circle at 2% 98%, hsla(296.47058823529414, 100%, 51%, 0.25) 7%, transparent 90%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }

          }

          // descripcion de la carta NFT
          .ntf-card-description {
            height: 50%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px;

            p {
              color: white;
              font-size: 16px;
              font-family: Georgia, serif;
              text-align: justify;
            }
          }

        }

      }

    }

  }

}
