<%# HTML correspondiente al footer en ingles (desktop) %>

<%# division contenedora del footer desktop %>
<div class="footer-desktop">
  <div class="footer-desktop-social-media">

    <button class="footer-desktop-social-btn">
      <a href="https://www.instagram.com/paszkowicz_group/" target="blank_to">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </button>

    <button class="footer-desktop-social-btn">
      <a href="https://www.linkedin.com/in/washington-arambillete-garcia-4b8b70169/" target="blank_to">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </button>

    <button class="footer-desktop-social-btn">
      <a href="https://github.com/Washington-1991" target="blank_to">
        <i class="fa-brands fa-github"></i>
      </a>
    </button>

  </div>

  <div class="footer-desktop-text">
    <h2>Paszkowicz-Group</h2>
  </div>
</div>
