<%= render 'layouts/navbar' %>
<div class="aboutme-container">
  <div class="nft">
    <div class='main'>
        <div class="main-image">
          <%= image_tag  "lewagon.jpg"%>
        </div>
        <h2>Le Wagon</h2>
        <p class='description'>Somos un equipo de estudiantes de Le Wagon Francia</p>
    </div>
  </div>

  <div class="abuoutme-card-webdeveloper">
    <h2>Como Desarrolladores Web</h2>
    <p>Como desarrolladores web full-stack especializados en desarrollo front-end y backend, poseemos un conjunto de habilidades
    integral orientado a crear interfaces de usuario atractivas e interactivas. Con una sólida base en HTML, CSS y JavaScript, hemos perfeccionado nuestras habilidades para crear experiencias web visualmente impresionantes y responsivas que cautivan a los usuarios.</p>
    <p>Después de una formación intensiva en el bootcamp de Le Wagon en Lille, Francia, hemos sido equipados con técnicas de vanguardia y mejores prácticas en desarrollo web. Nuestra experiencia se extiende a aprovechar diversas
    bibliotecas y frameworks para agilizar los procesos de desarrollo y mejorar la funcionalidad de las aplicaciones web.</p>
    <p>Además de nuestra competencia técnica, aportamos una mentalidad creativa y un ojo agudo para la estética del diseño a cada proyecto que emprendemos. Ya sea implementando componentes complejos de la interfaz de usuario, optimizando el rendimiento o asegurando la compatibilidad entre navegadores, nos apasiona superar desafíos y ofrecer soluciones que superen las expectativas del cliente.</p>
    <p>Nuestra dedicación a mantenernos al tanto de las tendencias de la industria y a expandir continuamente nuestro conjunto de habilidades asegura que nos mantenemos a la vanguardia del desarrollo front-end y back-end. Con una pasión por la innovación y un compromiso con la excelencia, estamos preparados para contribuir de manera efectiva a proyectos que demanden una experiencia de desarrollo front-end de primer nivel.</p>
  </div>
</div>
