<div class="contact-container">

  <div class="contact-title">
    <h1>¿Cómo contactarnos?</h1>
  </div>

  <div class="contact-info">
    <p class="whatsapp"><i class="fa-brands fa-whatsapp"></i> +33 7 69 91 19 25</p>
    <a href="https://github.com/Washington-1991" class="Github" target="blank"><i class="fa-brands fa-github"></i> Github</a>
    <a href="https://www.linkedin.com/in/washington-arambillete-garcia-4b8b70169/" class="Linkedin" target="blank"><i class="fa-brands fa-linkedin"></i> Linkedin</a>
    <a href="https://www.instagram.com/paszkowicz.group.webdev/" class="Instagram" target="blank"><i class="fa-brands fa-instagram"></i> Instagram</a>

  </div>
</div>
