<%# home-desktop page en ingles %>
<title>Paszkowicz-Group</title>

<div class="home-container">

  <%# navbar %>

  <%# presentacion %>

  <%# projectos %>

  <%# contacto %>

  <%# precios %>

  <%# footer %>


</div>
