<%# HTML correspondiente a about en francés %>
<title>Contact</title>

<%# división general del cu %>
<div class="contact-container">

  <%# división correspondiente a la presentación de los proyectos en inglés %>
  <div class="contact-title">
      <h1>Construisons ensemble quelque chose d'extraordinaire !</h1>
  </div>

  <%# carta de redes sociales %>
  <div class="social-media-card">
    <div class="social-media-card-title">
      <h2>
        Contactez-nous
      </h2>
    </div>

    <div class="social-media-card-buttons">

      <%# linkedin %>
      <a href="https://www.linkedin.com/in/washington-arambillete-garcia-4b8b70169/" target="blank_to">
        <button class="linkedin">
          <p>
            <i class="fa-brands fa-linkedin"></i>
          </p>
        </button>
      </a>

      <%# instagram %>
      <a href="https://www.instagram.com/paszkowicz_group/">
        <button class="instagram">
          <p>
            <i class="fa-brands fa-instagram"></i>
          </p>
        </button>
      </a>

      <%# github %>
      <a href="https://github.com/Washington-1991" target="blank_to">
        <button class="github">
          <p>
            <i class="fa-brands fa-github"></i>
          </p>
        </button>
      </a>

      <%# email %>
      <a href="javascript:void(0);" id="emailButton">
        <button class="email">
          <p>
            <i class="fa-solid fa-envelope"></i>
          </p>
        </button>
      </a>

    </div>

    <%# carta de email %>
    <div class="email-card" id="emailCard">
      <h2>
        washington-91@outlook.com
      </h2>
    </div>

  </div>

</div>

<%# javascript correspondiente a la aparición de la presentation-card %>
<script>

  document.addEventListener("DOMContentLoaded", () => {
    const projectPresentation = document.querySelector(".project-presentation");

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            projectPresentation.classList.add("visible");
          } else {
            projectPresentation.classList.remove("visible");
          }
        });
      },
      { threshold: 0.5 } // Ajusta cuánto del elemento debe ser visible para activarse
    );

    observer.observe(projectPresentation);
  });

</script>

<%# javascript de la aparición del email %>
<script>
    document.addEventListener("DOMContentLoaded", () => {
    const emailButton = document.getElementById("emailButton");
    const emailCard = document.getElementById("emailCard");

    emailButton.addEventListener("click", () => {
      emailCard.classList.toggle("visible");
    });
  });
</script>
