<%# HTML correspondiente a about en ingles %>
<title>Contact</title>

<%# division general del cu %>
<div class="contact-container">

  <%# division correspondiente a la presentacion de los proyectos en ingles %>
  <div class="contact-title">
      <h1>Let’s Build Something Amazing Together!</h1>
  </div>
  <div class="contact-cards">

  <div class="card">
    <div class="content">
      <p class="heading">Card Hover Effect
      </p><p class="para">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi
        laboriosam at voluptas minus culpa deserunt delectus sapiente
        inventore pariatur
      </p>
      <button class="btn">Read more</button>
    </div>
  </div>

  </div>

</div>


<%# javascript correspondiente a la aparicion de la presentation-card %>
<script>

  document.addEventListener("DOMContentLoaded", () => {
    const projectPresentation = document.querySelector(".project-presentation");

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            projectPresentation.classList.add("visible");
          } else {
            projectPresentation.classList.remove("visible");
          }
        });
      },
      { threshold: 0.5 } // Adjusts how much of the element should be visible to trigger
    );

    observer.observe(projectPresentation);
  });

</script>
