<%# HTML correspondiente a about en ingles %>
<title>Contact</title>

<%# division general del cu %>
<div class="contact-container">

  <%# division correspondiente a la presentacion de los proyectos en ingles %>
  <div class="contact-title">
      <h1>Let’s Build Something Amazing Together!</h1>
  </div>

  <div class="contact-cards">

    <%# carta de contacto email %>
    <div class="card-container">
      <div class="card">
        <div class="front-content">
          <p><i class="fa-solid fa-envelope"></i></p>
        </div>
        <div class="content">
          <p class="heading">E-mail</p>
          <p>
            washington-91@outlook.com
          </p>
        </div>
      </div>
    </div>

    <%# carta de redes sociales %>
    <div class="social-media-card">
      <div class="social-media-card-title">
        <h2>
          Follow us on social media
        </h2>
      </div>
      <div class="social-media-card-buttons">

        <div class="social-media-card-buttons-01">
          <%# linkedin %>
          <a href="">
          <button>
            <p>
              <i class="fa-brands fa-linkedin"></i>
            </p>
          </button>
          </a>

          <%# instagram %>
          <a href="">
          <button>
            <p>
              <i class="fa-brands fa-instagram"></i>
            </p>
          </button>
          </a>
        </div>

        <div class="social-media-card-buttons-02"></div>
          <%# github %>
          <a href="">
            <button>
              <p>
                <i class="fa-brands fa-github"></i>
              </p>
            </button>
          </a>

          <%# email %>
          <a href="">
            <button>
              <p>
                <i class="fa-solid fa-envelope"></i>
              </p>
            </button>
          </a>
        </div>
      </div>


    </div>



  </div>

</div>




<%# javascript correspondiente a la aparicion de la presentation-card %>
<script>

  document.addEventListener("DOMContentLoaded", () => {
    const projectPresentation = document.querySelector(".project-presentation");

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            projectPresentation.classList.add("visible");
          } else {
            projectPresentation.classList.remove("visible");
          }
        });
      },
      { threshold: 0.5 } // Adjusts how much of the element should be visible to trigger
    );

    observer.observe(projectPresentation);
  });

</script>
