<%# HTML correspondiente a prices %>

<%# division contenedora general %>

<div class="prices-container">
  <div class="price-title">
    <h2>Plans & Pricing</h2>
  </div>
  <div class="price-presentation">
    <p>
      We offer flexible and tailored pricing plans
      to meet your needs. Whether you're a small
      business, a startup, or an established company,
      we have the perfect solution for you.
    </p>
  </div>
  <div class="prices-plans">

  </div>

</div>
