<%# HTML correspondiente a prices en ingles %>

<%# division contenedora general %>

<div class="prices-container">
  <div class="price-title">
    <h2>Plans & Pricing</h2>
  </div>
  <div class="price-presentation">
    <p>
      We offer flexible and tailored pricing plans
      to meet your needs. Whether you're a small
      business, a startup, or an established company,
      we have the perfect solution for you.
    </p>
  </div>

  <%# division de los planes %>
  <div class="prices-plans">

    <%# plan basico %>
    <div class="basic-plan">
      <h2>Basic Plan</h2>
      <p>Ideal for personal projects or small businesses.</p>
      <ul>
        <li>Responsive web design</li>
        <li>Up to 3 pages</li>
      </ul>
      <p><strong>Delivery Time:</strong> 1-2 weeks</p>
      <p><strong>Price:</strong> €500 and €15/month</p>
    </div>

    <%# plan standar %>
    <div class="standar-plan">
       <h2>Standard Plan</h2>
      <p>Perfect for startups and growing businesses.</p>
      <ul>
        <li>Custom web design</li>
        <li>Up to 6 pages</li>
      </ul>
      <p><strong>Delivery Time:</strong> 2-4 weeks</p>
      <p><strong>Price:</strong> €1,000 and €20/month</p>
    </div>

    <%# plan standar %>
    <div class="premium-plan">
       <h2>Premium Plan</h2>
      <p>Designed for companies looking for a complete digital solution.</p>
      <ul>
        <li>Tailored web design with animations</li>
        <li>Unlimited pages</li>
        <li>Multilingual support (up to 4 languages)</li>
        <li>Ongoing support and maintenance</li>
      </ul>
      <p><strong>Delivery Time:</strong> 4-6 weeks</p>
      <p><strong>Price:</strong> €2,000 and €20/month</p>
    </div>

  </div>

  <div class="special-plan">
    <div class="community-plan">
      <h2>Community Plan</h2>
      <p><strong>Purpose:</strong> Supporting non-profit organizations,
      sports institutions, and community initiatives.</p>
      <ul>
        <li>Responsive web design</li>
        <li>Up to 3 pages</li>
      </ul>
      <p><strong>Delivery Time:</strong> 2-3 weeks</p>
      <p><strong>Special Price:</strong> €20/month</p>
      <div class="additional-benefits">
        <h3>Important information</h3>
        <ul>
          <p>
            Non-profit organizations, social associations
            with limited resources, and sports institutions
            that conduct educational activities with minors
            can benefit from the Community Plan. To access
            this plan, they must get in touch and present
            their project.
          </p>
        </ul>
      </div>
    </div>

  </div>
</div>
