<%# HTML correspondiente a proyectos en ingles %>

<%# division general del cu %>
<div class="projects-container">

  <%# Titulo  %>
  <div class="project-card-title">
    <h1>Projects</h1>
  </div>

  <%# texto %>
  <div class="project-card-text-container">
    <p>
      "Here are all the projects that we've created or contributed to.
      Spanning a diverse range of fields and interests, our portfolio
      reflects a dedication to innovation and collaboration. Whether it's building intuitive mobile
      applications, designing impactful marketing campaigns, or
      contributing code to open-source initiatives, we take pride in
      delivering results that make a difference. Explore this collection
      of endeavors, each one a testament to our commitment to excellence
      and our enthusiasm for pushing boundaries.".
    </p>
  </div>

  <%# wave card start %>

  <div class="e-card playing">
    <div class="image"></div>

    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>




        <div class="projects-card-fullstack-title">
          <h2>Fullstack Projects</h2>
        </div>

  </div>
  <%# wave card end %>


  <%# Division correspondiente a proyectos fullstack %>
  <div class="projects-card-fullstack">



    <%# Cartas de proyectos %>
    <div class="nft-container">

      <%# Carta correspondiente a HIVE %>
       <div class="nft">
          <div class='main'>
            <div class="main-image">
              <%= image_tag "hive-logo-png.png"%>
            </div>
            <h2>Hive</h2>
            <p class='description'>A sport App dedicated for people in situation of overweight.</p>
          </div>
        </div>

      <%# Carta correspondiente a Lithosophie
        <div class="nft">
          <div class='main'>
            <div class="main-image">
            <%= image_tag "logo-lithosophie.png"%>
            <%# </div>
            <h2>Lithosophie</h2>
            <p class='description'>Page dedicated to sell products</p>
          </div>
        </div> %>

      <%# Carta correspondiente a EventBnB %>
        <div class="nft">
          <div class='main'>
            <div class="main-image">
              <%= image_tag "eventbnb-logo.png"%>
            </div>
            <h2>EventBnB</h2>
            <p class='description'>An App dedicated to rent places for filming.</p>
          </div>
        </div>

    </div>

  </div>

</div>


<script>

  document.addEventListener("DOMContentLoaded", () => {
    const projectPresentation = document.querySelector(".project-presentation");

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            projectPresentation.classList.add("visible");
          } else {
            projectPresentation.classList.remove("visible");
          }
        });
      },
      { threshold: 0.5 } // Adjusts how much of the element should be visible to trigger
    );

    observer.observe(projectPresentation);
  });

</script>
