<%# HTML correspondiente a about en ingles %>


<%# division general del cu %>
<div class="about-me-container">

  <%# division correspondiente al wagon en ingles %>
  <div class="about-me-wagon">

    <%# division correspondiente al logo %>
    <div class="about-me-wagon-logo">
      <img src="https://res.cloudinary.com/dcfmvazgl/image/upload/v1727866199/Wash%20portfolio/lewagon_t79waj.jpg" alt="The Wagon">
    </div>

    <%# division correspondiente al texto %>
    <div class="about-me-wagon-text">
      <p>Le Wagon is a world-renowned coding bootcamp
        that offers intensive and immersive training
        programs in web development and data science.
        Founded in 2013, Le Wagon has grown to become
        a global leader in tech education, with campuses
        in over 40 cities worldwide. The bootcamp's
        curriculum is designed to equip students with
        the practical skills and knowledge needed to
        build robust web applications and launch
        successful careers in the tech industry.
        Through hands-on projects, collaborative
        learning, and expert mentorship, Le Wagon
        empowers individuals to transform their careers
        and achieve their full potential in the digital
        world.</p>
    </div>

  </div>


</div>

<%# javascript correspondiente a la aparicion de la presentation-card %>
<script>

  document.addEventListener("DOMContentLoaded", () => {
    const projectPresentation = document.querySelector(".project-presentation");

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            projectPresentation.classList.add("visible");
          } else {
            projectPresentation.classList.remove("visible");
          }
        });
      },
      { threshold: 0.5 } // Adjusts how much of the element should be visible to trigger
    );

    observer.observe(projectPresentation);
  });

</script>
