<div class="aboutme-container">

  <div class="abuoutme-card-webdeveloper">
    <h2>As a Web-Developper</h2>
    <p>As a full-stack web developer specialized in front-end development, I possess a comprehensive
    skill set tailored towards crafting engaging and interactive user interfaces. With a solid foundation
    in HTML, CSS, and JavaScript, I have honed my abilities to create visually stunning and responsive web
    experiences that captivate users.</p>
    <p>Having a bootcamp intensive training at Le Wagon in Lille, France, I've been equipped with cutting-edge
    techniques and best practices in web development. My expertise extends to leveraging various
    libraries and frameworks to streamline development processes
    and enhance the functionality of web applications.</p>
    <p>In addition to my technical proficiency, I bring a creative mindset and a keen eye for design
    aesthetics to every project I undertake. Whether it's implementing complex UI components, optimizing
    performance, or ensuring cross-browser compatibility, I thrive on overcoming challenges and delivering
    solutions that exceed client expectations.</p>
    <p>My dedication to staying abreast of industry trends and continuously expanding my skill set ensures
    that I remain at the forefront of front-end development. With a passion for innovation and a commitment to
    excellence, I am poised to contribute effectively to projects that demand top-tier front-end development
    expertise.</p>
  </div>

  <div class="aboutme-card-biography">

    <div class="aboutme-card-biography-h2">
      <h2>Made in South-America with Uruguayan quality</h2>
    </div>

    <div class="aboutme-card-biography-image-paragraph">

      <div class="aboutme-card-biography-image">
        <%= image_tag "uruguay.png" %>
      </div>

      <div class="aboutme-card-biography-h-p">
        <p>I was born in Montevideo, Uruguay, a small country in South America known for its rich culture,
         beautiful beaches, and friendly people. Growing up in this vibrant city, I developed a deep appreciation
         for art, music, creativity and sports which ultimately led me to pursue a career in web development.
         I decided to embark on a new adventure and moved to France following love. It was here that I discovered my passion
        for web development and decided to pursue it as a career. Today, I am proud to call myself a full-stack
        web developer with a focus on front-end development. I am dedicated to creating innovative and user-friendly web
        experiences that delight users and drive business growth. With a strong foundation in HTML, CSS, and JavaScript,
        I am well-equipped to tackle a wide range of projects and deliver exceptional results. I am excited to
        continue growing and evolving in this dynamic field and look forward to the opportunities that lie ahead.</p>
      </div>

    </div>

  </div>



</div>
