<%# nuevo modelo de home page %>

<%# contenedor general de la homepage %>
<div class="blank-container">

  <div class="card-container">

      <img src="https://res.cloudinary.com/dcfmvazgl/image/upload/v1736335480/Wash%20portfolio/paszkowicz_f2hmp5.png" alt="Paszkowicz-Group">
      <br>
      <br>
      <br>
      <h2>Standard Plan</h2>
      <p>Perfect for startups and growing businesses.</p>
      <ul>
        <li>Custom web design</li>
        <li>Up to 6 pages</li>
      </ul>
      <p><strong>Delivery Time:</strong> 2-4 weeks</p>
      <p><strong>Price:</strong> €1,000 and €20/month</p>

    </div>
  </div>
</div>
