<div class="blank-container">
  <div class="container">

    <div class="progress" style="--i:85;--clr:#43f94a;">
      <h3>83<span>%</span></h3>
      <h4>HTML</h4>
    </div>

     <div class="progress" style="--i:62;--clr:#43f94a;">
      <h3>62<span>%</span></h3>
      <h4>CSS</h4>
    </div>

  </div>
</div>
