<%# nuevo modelo de home page %>

<%# contenedor general de la homepage %>
<div class="blank-container">
  <div class="card-container">
      <img src="https://res.cloudinary.com/dcfmvazgl/image/upload/v1736335480/Wash%20portfolio/paszkowicz_f2hmp5.png" alt="Paszkowicz-Group">

       <h2>Premium Plan</h2>
      <p>Designed for companies looking for a complete digital solution.</p>
      <ul>
        <li>Tailored web design with animations</li>
        <li>Unlimited pages</li>
        <li>Multilingual support (up to 4 languages)</li>
        <li>Ongoing support and maintenance</li>
      </ul>
      <p><strong>Delivery Time:</strong> 4-6 weeks</p>
      <p><strong>Price:</strong> €2,000 and €20/month</p>

    </div>
  </div>
</div>
