<div class="home-desktop">
  <%= render "home/desktop" %>
</div>

<div class="home-laptop">
  <%= render "home/laptop" %>
</div>

<div class="home-tablet">
  <%= render "home/tablet" %>
</div>

<div class="home-mobile">
  <%= render "home/mobile" %>
</div>
