<%# nuevo modelo de home page %>

<%# contenedor general de la homepage %>
<div class="blank-container">

  <%# nueva navbar %>
  <%= render 'layouts/navbar02' %>

  <div class="presentation">
    <div class="card-logo">
      <img src="https://res.cloudinary.com/dcfmvazgl/image/upload/v1736335480/Wash%20portfolio/paszkowicz_f2hmp5.png" alt="Paszkowicz-Group">
    </div>
    <div class="card-texto">

    </div>

  </div>


</div>
