<%# nuevo modelo de home page %>

<%# contenedor general de la homepage %>
<div class="blank-container">

  <div class="card-container">
    <div class="card-logo">
      <img src="https://res.cloudinary.com/dcfmvazgl/image/upload/v1736335480/Wash%20portfolio/paszkowicz_f2hmp5.png" alt="Paszkowicz-Group">

      <h2>Basic Plan</h2>
      <p>Ideal for personal projects or small businesses.</p>
      <ul>
        <li>Responsive web design</li>
        <li>Up to 3 pages</li>
      </ul>
      <p><strong>Delivery Time:</strong> 1-2 weeks</p>
      <p><strong>Price:</strong> €500 and €15/month</p>

    </div>
  </div>
</div>
