<%# HTML correspondiente a about en ingles %>
<title>Contact</title>

<%# division general del cu %>
<div class="about-me-container">

  <%# division correspondiente a la barra de navegacion en ingles %>
  <%= render 'layouts/navbar' %>

  <%# division correspondiente a la presentacion de los proyectos en ingles %>
  <div class="presentation-card">
      <h1>Let’s Build Something Amazing Together!</h1>
      <p>
    Are you looking for a passionate <strong>front-end developer</strong> to bring your ideas to life?
    Whether it’s crafting sleek, responsive designs or creating seamless user experiences, I’m here to
    help make your vision a reality.
  </p>
  <p>
    With a strong foundation in <strong>HTML, SCSS, Ruby</strong>, and experience working on
    <strong>multilingual websites</strong>, I thrive on delivering high-quality, tailored solutions
    that stand out.
  </p>
  <p>
    Got a project in mind? Or maybe you just want to chat about tech, design, or how we can collaborate?
    Either way, I’d love to hear from you!
  </p>
  <p><strong>Your project deserves the best – let’s start now!</strong></p>
  </div>

  <%# division correspondiente al wagon en ingles %>
  <div class="about-me-wagon">

    <%# division correspondiente al logo %>
    <div class="about-me-wagon-logo">
      <img src="https://res.cloudinary.com/dcfmvazgl/image/upload/v1727866199/Wash%20portfolio/lewagon_t79waj.jpg" alt="The Wagon">
    </div>

    <%# division correspondiente al texto %>
    <div class="about-me-wagon-text">
      <p>Le Wagon is a world-renowned coding bootcamp
        that offers intensive and immersive training
        programs in web development and data science.
        Founded in 2013, Le Wagon has grown to become
        a global leader in tech education, with campuses
        in over 40 cities worldwide. The bootcamp's
        curriculum is designed to equip students with
        the practical skills and knowledge needed to
        build robust web applications and launch
        successful careers in the tech industry.
        Through hands-on projects, collaborative
        learning, and expert mentorship, Le Wagon
        empowers individuals to transform their careers
        and achieve their full potential in the digital
        world.</p>
    </div>

  </div>

  <%# division correspondiente al footer en ingles%>
  <%= render 'layouts/footer' %>

</div>

<%# javascript correspondiente a la aparicion de la presentation-card %>
<script>

  document.addEventListener("DOMContentLoaded", () => {
    const projectPresentation = document.querySelector(".project-presentation");

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            projectPresentation.classList.add("visible");
          } else {
            projectPresentation.classList.remove("visible");
          }
        });
      },
      { threshold: 0.5 } // Adjusts how much of the element should be visible to trigger
    );

    observer.observe(projectPresentation);
  });

</script>
