<div class="home-container">

  <div class="home-card-presentation">

    <div class="home-card-title">
    <h1>I'm <strong>Web-Developer Front-End</strong> Washington</h1>
    </div>

    <div class="home-card-paragraph">

    </div>

  </div>






</div>
