<%# HTML correspondiente al Home eng %>
<title>Paszkowicz-group</title>

<%# division correspondiente a home eng %>
<div class="home-container">

  <%= render 'layouts/navbar' %>
  <%= render 'layouts/carrousel' %>


</div>
