<%# HTML correspondiente al Home eng %>
<title>Paszkowicz-group</title>

<%# division correspondiente a home eng %>
<div class="home-container">

  <%# barra de navegacion %>
  <%= render 'layouts/navbar' %>

  <%# division de la presentacion %>
  <div class="home-presentation">

  </div>

  <style>
  .home-image {
    opacity: 0;
    transition: opacity 0.3s;
  }
  .home-image.visible {
    opacity: 1;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const homeImage = document.querySelector('.home-image');

    function handleVisibility() {
      const rect = homeImage.getBoundingClientRect();
      const isVisible = rect.top >= 0 && rect.bottom <= window.innerHeight;

      if (isVisible) {
        homeImage.classList.add('visible');
      } else {
        homeImage.classList.remove('visible');
      }
    }

    window.addEventListener('scroll', handleVisibility);
    handleVisibility(); // Llamar inicialmente en caso de que ya sea visible
  });
</script>

  <%# carrousel de habilidades %>
  <%= render 'layouts/carrousel' %>

</div>
