<%# HTML correspondiente al Home eng %>
<title>Paszkowicz-group</title>

<%# division correspondiente a home eng %>
<div class="home-container">

  <%# barra de navegacion %>
  <%= render 'layouts/navbar' %>

  <%# division de la presentacion %>
  <div class="home-presentation">

  </div>



  <%# carrousel de habilidades %>
  <%= render 'layouts/carrousel' %>

</div>
