<%# HTML correspondiente al Home eng %>
<title>Paszkowicz-group</title>

<%# division correspondiente a home eng %>
<div class="home-container">

  <%# barra de navegacion %>
  <%= render 'layouts/navbar' %>

  <%# division de la presentacion %>
  <div class="home-presentation" style="visibility:hidden; ">

  </div>

  <%# javascript correspondiente a la transicion de la home-presentation %>
  <script>
    function showdiv() {
      document.getElementById('home-presentation').style.visibility = "visible";
      setTimeout("showdiv()", 3000);
    }

  </script>


  <%# carrousel de habilidades %>
  <%= render 'layouts/carrousel' %>

</div>
