<%# HTML correspondiente al Home ENG %>
<title>Paszkowicz-Group</title>

<%# division correspondiente a home ENG %>
<div class="home-container">

  <%# barra de navegacion eng%>
  <%= render 'layouts/navbar' %>

  <%# division de la presentacion %>
  <div class="home-presentation">

  </div>

  <%# division correspondiente a la presentacion de los proyectos en ingles %>
  <%= render 'pages/aboutme' %>


  <%# carrousel de habilidades %>
  <%= render 'layouts/carrousel' %>

  <%# division correspondiente a la presentacion de los about en ingles %>
  <%= render 'pages/projects' %>

  <%# javascript correspondiente a la transicion de la home-presentation %>
 <script>

    let lastScrollTop = 0;
    const homePresentation = document.querySelector('.home-presentation');

    window.addEventListener('scroll', function() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (scrollTop > lastScrollTop) {
        // Scrolling down
        homePresentation.classList.add('hidden');
      } else {
        // Scrolling up
        homePresentation.classList.remove('hidden');
      }
      lastScrollTop = scrollTop <= 0 ? 0 : scrollTop; // For Mobile or negative scrolling
    });

  </script>





</div>
