<div class="projects-container">

  <div class="project-presentation">
    <h1>Projects</h1>
    <p>"Here are all the projects that I've created or contributed to.
    Spanning a diverse range of fields and interests, my portfolio
    reflects a dedication to innovation and collaboration. Whether it's building intuitive mobile
    applications, designing impactful marketing campaigns, or
    contributing code to open-source initiatives, I take pride in
    delivering results that make a difference. Explore this collection
    of endeavors, each one a testament to my commitment to excellence
    and my enthusiasm for pushing boundaries.".</p>
  </div>

  <div class="projects-card-fullstack">
    <div class="projects-card-fullstack-title"><h2>Fullstack Projects</h2></div>


  </div>

    <div class="projects-card-frontend">

      <div class="background"></div>
    <div class="background-texture"></div>

    <section class="carousel">

      <div class="carousel__container">

        <div class="carousel-item">
          <img
            class="carousel-item__img">
          <div class="carousel-item__details">
            <div class="controls">
              <span class="fas fa-play-circle"></span>
              <span class="fas fa-plus-circle"></span>
            </div>
            <h5 class="carousel-item__details--title">Descriptive Title</h5>
            <h6 class="carousel-item__details--subtitle">Date and Duration</h6>
          </div>
        </div>

        <div class="carousel-item">
          <img>
          <div class="carousel-item__details">
            <div class="controls">
              <span class="fas fa-play-circle"></span>
              <span class="fas fa-plus-circle"></span>
            </div>
            <h5 class="carousel-item__details--title">Descriptive Title</h5>
            <h6 class="carousel-item__details--subtitle">Date and Duration</h6>
          </div>
        </div>

        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src="https://images.pexels.com/photos/417344/pexels-photo-417344.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"

            alt="people">


            alt="people"
          <div class="carousel-item__details">
            <div class="controls">
              <span class="fas fa-play-circle"></span>
              <span class="fas fa-plus-circle"></span>
            </div>
            <h5 class="carousel-item__details--title">Descriptive Title</h5>
            <h6 class="carousel-item__details--subtitle">Date and Duration</h6>
          </div>
        </div>

      </div>
    </section>


    </div>

    <div class="projects-card-backend">



    </div>


</div>
