<div class="aboutme-container">
    <div class="nft">
      <div class='main'>
        <div class="main-image">
          <%= image_tag "lewagon.jpg" %>
        </div>
        <h2>Le Wagon</h2>
        <p class='description'>Somos uma equipe de estudantes do Le Wagon França</p>
      </div>
    </div>

  <div class="aboutme-card-webdeveloper">
    <h2>Como Developpers Web</h2>
    <p>Como desenvolvedores web full-stack especializados em desenvolvimento front-end e back-end, possuímos um conjunto
    de habilidades abrangente voltado para a criação de interfaces de usuário envolventes e interativas. Com uma base sólida
    em HTML, CSS e JavaScript, aperfeiçoamos nossas habilidades para criar experiências web visualmente impressionantes e responsivas
    que cativam os usuários.</p>
    <p>Após um treinamento intensivo no bootcamp Le Wagon em Lille, França, fomos equipados com técnicas de ponta
    e melhores práticas em desenvolvimento web. Nossa expertise se estende ao uso de diversas
    bibliotecas e frameworks para agilizar processos de desenvolvimento
    e melhorar a funcionalidade das aplicações web.</p>
    <p>Além da nossa proficiência técnica, trazemos uma mentalidade criativa e um olhar atento para a estética de design
    a cada projeto que realizamos. Seja implementando componentes complexos de UI, otimizando
    o desempenho ou garantindo a compatibilidade entre navegadores, prosperamos em superar desafios e entregar
    soluções que excedem as expectativas dos clientes.</p>
    <p>Nosso compromisso em nos manter atualizados com as tendências da indústria e expandir continuamente nosso conjunto de habilidades garante
    que permanecemos na vanguarda do desenvolvimento front-end e back-end. Com uma paixão pela inovação e um compromisso com
    a excelência, estamos prontos para contribuir efetivamente para projetos que exigem expertise de alto nível em desenvolvimento front-end.</p>
  </div>

</div>
