<div class="projects-container">

    <div class="nft">
      <div class='main'>
        <div class="main-image">
          <%= image_tag "github-logo" %>
        </div>
        <a href="https://github.com/Washington-1991" target="blank" ><i class="fa-brands fa-github"></i> Github</a>
        <p class='description'>Vamos dar uma olhada no meu GitHub</p>
      </div>
    </div>

  <div class="project-presentation">
    <h1>Projetos</h1>
    <p>"Aqui estão todos os projetos que criamos ou contribuímos.
    Abrangendo uma ampla gama de áreas e interesses, nosso portfólio
    reflete uma dedicação à inovação e colaboração. Seja construindo aplicativos móveis intuitivos,
    projetando campanhas de marketing impactantes ou
    contribuindo com código para iniciativas de código aberto, nos orgulhamos de
    entregar resultados que fazem a diferença. Explore esta coleção
    de empreendimentos, cada um deles um testemunho de nosso compromisso com a excelência
    e nosso entusiasmo em ultrapassar limites.".</p>
  </div>

  <div class="projects-card-fullstack">
    <div class="projects-card-fullstack-title"><h2>Projetos Fullstack</h2></div>
    <div class="nft-container">

      <div class="nft">
        <div class='main'>
          <div class="main-image">
           <%= image_tag "hive-logo-png.png" %>
          </div>
          <h2>Hive</h2>
          <p class='description'>Um aplicativo esportivo dedicado para pessoas com sobrepeso.</p>
        </div>
      </div>

      <div class="nft">
        <div class='main'>
          <div class="main-image">
           <%= image_tag "logo-lithosophie.png" %>
          </div>
          <h2>Lithosophie</h2>
          <p class='description'>Página dedicada à venda de produtos</p>
        </div>
      </div>

      <div class="nft">
        <div class='main'>
          <div class="main-image">
           <%= image_tag "eventbnb-logo.png" %>
          </div>
          <h2>EventBnB</h2>
          <p class='description'>Um aplicativo dedicado para alugar lugares para filmagens.</p>
        </div>
      </div>

    </div>

  </div>

</div>
