// SCSS for the button components

// botones de la barra de navegación
.navbar-container {

  .navbar-card-left {

    button {
      cursor: pointer;
      position: relative;
      width: 125px;
      height: 40px;
      border-radius: 60px;
      background: transparent;
      outline: none;
      overflow: hidden;
      border: none;
      font-weight: 600;
      z-index: 1;
      transition: 0.5s;

      a {
        color: yellow;
      }
    }

    button:hover {
      color: white;
    }

    button::before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-radius: 50%;
      background: linear-gradient(
        to right,
        rgb(59, 59, 184),
        rgb(163, 65, 65),
        rgb(172, 26, 26)
      );
      left: -15px;
      bottom: 0;
      transform: translateY(50%);
      transition: 0.5s;
      z-index: -1;
    }

    button:hover:before {
      width: 170px;
      height: 170px;
    }

  }

  .navbar-card-right {

    button {
      cursor: pointer;
      position: relative;
      width: 125px;
      height: 40px;
      border-radius: 60px;
      background: transparent;
      outline: none;
      overflow: hidden;
      border: none;
      font-weight: 600;
      z-index: 1;
      transition: 0.5s;

      a {
        color: yellow;
      }
    }

    button:hover {
      color: white;
    }

    button::before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-radius: 50%;
      background: linear-gradient(
        to right,
        rgb(59, 59, 184),
        rgb(163, 65, 65),
        rgb(172, 26, 26)
      );
      left: -15px;
      bottom: 0;
      transform: translateY(50%);
      transition: 0.5s;
      z-index: -1;
    }

    button:hover:before {
      width: 170px;
      height: 170px;
    }

  }
}

// botones de las redes sociales



// botones del footer
.footer-container {

  .social-media-list {

    button {
      cursor: pointer;
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: transparent;
      outline: none;
      overflow: hidden;
      border: none;
      font-weight: 600;
      z-index: 1;
      transition: 0.5s;

      a {
        background: linear-gradient(to right, red, yellow); /* Gradient from red to yellow */
        -webkit-background-clip: text; /* Clip the background to the text */
        -webkit-text-fill-color: transparent; /* Make the text color transparent */
        color: transparent; /* Fallback for non-webkit browsers */
      }

      &:hover {
        transform: scale(1.1); /* Scale the button on hover */
        background: rgba(255, 255, 255, 0.2); /* Light background on hover */
      }
    }
  }

}
