// SCSS for the button components

// general button
button {
  background-color: transparent;

  a {
    color: white;
    text-decoration: none;
  }

  border: none;
}

button:hover {
  border-bottom: 2px solid white;
  transition: 1s;
}





// navbar dropdown menu
.dropdown-menu {

  img {
    width: 20px;
    height: 20px;
    margin: auto;
  }
}

.dropdown-toggle{

  img {
    width: 20px;
    height: 20px;
    margin: auto;
  }

}

// navbar-card-lightmode
#light-mode-button {
  font-size: 16px;
  color: white;
  padding: 0 8px;
}

#light-mode-button:hover {
  color: orange;
  padding: 0 8px;
  border-radius: 50px;
  border-right: 2px solid orange;
  border-left: 2px solid orange;
  border-top: none;
  border-bottom: none;


}

#dark-mode-button {
  font-size: 16px;
  color: black;
}

// SCSS for dark and light mode buttons

.navbar-Home-light {
  color: black;
}
