// SCSS for the button components

// botones de la navbar 02
.navbar02-container {

  .card-buttons {

    button {
      cursor: pointer;
      position: relative;

      border-radius: 50%;
      background: transparent;
      outline: none;
      overflow: hidden;
      border: none;
      font-weight: 600;
      z-index: 1;
      transition: 0.5s;
      padding: 0 16px;

      a {
        font-family: Georgia, serif;
        animation: fadeInText 1s ease-in forwards;
        background: linear-gradient(to right, violet, pink, skyblue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: relative;

        // Pseudo-element for the border
        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -2px; // Slightly below the text
          width: 0; // Initial width of the border
          height: 2px; // Height of the border
          background: linear-gradient(to right, violet, pink, skyblue); // Same gradient as the text
          transition: width 0.5s ease;
        }
      }

      // Hover effect on button to trigger the border animation
      &:hover a::after {
        width: 100%; // Expand the border width to full
      }

    }

  }

  .right-card {
    display: flex;
    position: fixed;
    height: 100%;
    right: 0;
    align-items: center;
    padding: 10px;

    .dropdown {
      position: relative;
      display: inline-block;
    }
    .dropdown-btn {
      background-color: #008cba;
      color: white;
      border: none;
      padding: 10px;
      cursor: pointer;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: white;
      box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
      z-index: 1;
      min-width: 120px;
    }
    .dropdown-content a {
      display: flex;
      align-items: center;
      padding: 10px;
      text-decoration: none;
      color: black;
    }
    .dropdown-content a img {
      width: 8px;
      margin-right: 8px;
    }
    .dropdown:hover .dropdown-content {
      display: block;
    }

  }

}




// botones de las redes sociales
.social-media-card-buttons {

  // botones

  button {
    margin: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    background: transparent;
    border-radius: 25px;
    border: none;

    // Pseudo-element for the border
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px; // Slightly below the text
      width: 0; // Initial width of the border
      height: 2px; // Height of the border
      background: linear-gradient(to right, violet, pink, skyblue); // Same gradient as the text
      transition: width 0.5s ease;
    }

  }

  // Hover effect on button to trigger the border animation
  &:hover a::after {
    width: 100%; // Expand the border width to full
  }

}

// botones del footer
.footer-container {

  .social-media-list {
    button {
      cursor: pointer;
      position: relative;
      margin: 0 24px;

      border-radius: 50%;
      background: transparent;
      outline: none;
      overflow: hidden;
      border: none;
      font-weight: 600;
      z-index: 1;
      transition: 0.5s;

      a {
        font-family: Georgia, serif;
        animation: fadeInText 1s ease-in forwards;
        background: linear-gradient(to right, violet, pink, skyblue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: relative;

        // Pseudo-element for the border
        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -2px; // Slightly below the text
          width: 0; // Initial width of the border
          height: 2px; // Height of the border
          background: linear-gradient(to right, violet, pink, skyblue); // Same gradient as the text
          transition: width 0.5s ease;
        }
      }

      // Hover effect on button to trigger the border animation
      &:hover a::after {
        width: 100%; // Expand the border width to full
      }
    }
  }

}
