// SCSS for the button components

// general button
button {
  background-color: transparent;

  a {
    color: white;
    text-decoration: none;
  }

  border: none;
}

button:hover {
  border-bottom: 2px solid white;
  transition: 1s;
}

// navbar dropdown menu
.dropdown-menu {

  img {
    width: 20px;
    height: 20px;
    margin: auto;
  }
}

.dropdown-toggle{

  img {
    width: 20px;
    height: 20px;
    margin: auto;
  }
}

// navbar-card-lightmode
#light-mode-button {
  font-size: 16px;
  color: white;
}

#light-mode-button:hover {
  color: orange;
  padding: 8px;
  border-radius: 30px;
  border: 2px solid orange;
  transition: 1s;
  border-bottom: none;
}

#dark-mode-button {
  font-size: 16px;
  color: black;
}
