// SCSS for the button components

// botones de la navbar 02
.card-buttons {

  a {
    font-family: Georgia, serif;
    animation: fadeInText 1s ease-in forwards;
    background: linear-gradient(to right, violet, pink, skyblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;

    // Pseudo-element for the border
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px; // Slightly below the text
      width: 0; // Initial width of the border
      height: 2px; // Height of the border
      background: linear-gradient(to right, violet, pink, skyblue); // Same gradient as the text
      transition: width 0.5s ease;
    }

    button {
      cursor: pointer;
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: transparent;
      outline: none;
      overflow: hidden;
      border: none;
      font-weight: 600;
      transition: 0.5s;

      // Trigger hover effect on the parent `a`
      &:hover + &::after {
        width: 100%; // Expand the border width to full
      }
    }
  }

}



// botones de las redes sociales
.social-media-card-buttons {

  // botones

  button {
    margin: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    background: transparent;
    border-radius: 25px;
    border: none;

    // Pseudo-element for the border
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px; // Slightly below the text
      width: 0; // Initial width of the border
      height: 2px; // Height of the border
      background: linear-gradient(to right, violet, pink, skyblue); // Same gradient as the text
      transition: width 0.5s ease;
    }

  }

  // Hover effect on button to trigger the border animation
  &:hover a::after {
    width: 100%; // Expand the border width to full
  }

}

// botones del footer
.footer-container {

  .social-media-list {
    button {
      cursor: pointer;
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: transparent;
      outline: none;
      overflow: hidden;
      border: none;
      font-weight: 600;
      z-index: 1;
      transition: 0.5s;

      a {
        font-family: Georgia, serif;
        animation: fadeInText 1s ease-in forwards;
        background: linear-gradient(to right, violet, pink, skyblue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: relative;

        // Pseudo-element for the border
        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -2px; // Slightly below the text
          width: 0; // Initial width of the border
          height: 2px; // Height of the border
          background: linear-gradient(to right, violet, pink, skyblue); // Same gradient as the text
          transition: width 0.5s ease;
        }
      }

      // Hover effect on button to trigger the border animation
      &:hover a::after {
        width: 100%; // Expand the border width to full
      }
    }
  }

}
