// SCSS for the button components

// general button


// navbar dropdown menu
.dropdown-menu {

  img {
    width: 20px;
    height: 20px;
    margin: auto;
  }
}

.dropdown-toggle{

  img {
    width: 20px;
    height: 20px;
    margin: auto;
  }

}

.dropdown-toggle-dark {
  margin: auto;
  color: black;

  img {
    width: 20px;
    height: 20px;
    margin: auto;
  }
}

// navbar-card-lightmode
#light-mode-button {
  font-size: 16px;
  color: rgb(255, 255, 255);
  padding: 0 8px;
  background: transparent;
  border: none;

  &:hover {
    color: orange;
    padding: 0 8px;
    border-radius: 50px;
    border-right: 2px solid orange;
    border-left: 2px solid orange;
    border-top: none;
    border-bottom: none;
  }
}

#dark-mode-button {
  font-size: 16px;
  color: rgb(255, 255, 255);
  padding: 0 8px;
  background: transparent;
  border: none;

  &:hover {
    color: rgb(147, 48, 147);
    padding: 0 8px;
    border-radius: 50px;
    border-right: 2px solid rgb(147, 48, 147);
    border-left: 2px solid rgb(147, 48, 147);
    border-top: none;
    border-bottom: none;
    transition: 1s;
  }
}

// SCSS for dark and light mode buttons

// navbar-home button
.navbar-home {
  background-color: transparent;
  transition: 1s;
  border: none;

  a {
    color: white;
    text-decoration: none;
  }

  &:hover {
    border-bottom: 1px solid white;
  }
}

.navbar-home-light {
  background-color: transparent;
  transition: 1s;
  border: none;

  a {
    color: black;
    text-decoration: none;
  }

  &:hover {
    border-bottom: 1px solid black;
  }
}

// navbar-card-about-me button

.navbar-about-me {
  background-color: transparent;
  transition: 1s;
  border: none;

  a {
    color: white;
    text-decoration: none;
  }

  &:hover {
    border-bottom: 1px solid white;
  }
}

.navbar-about-me-light {
  background-color: transparent;
  transition: 1s;
  border: none;

  a {
    color: black;
    text-decoration: none;
  }

  &:hover {
    border-bottom: 1px solid black;
  }
}

// navbar-card-projects button

.navbar-projects {
  background-color: transparent;
  transition: 1s;
  border: none;

  a {
    color: white;
    text-decoration: none;
  }

  &:hover {
    border-bottom: 1px solid white;
  }
}

.navbar-projects-light {
  background-color: transparent;
  transition: 1s;
  border: none;

  a {
    color: black;
    text-decoration: none;
  }

  &:hover {
    border-bottom: 1px solid black;
  }
}

// button-contact button
.navbar-button-contact {
  background-color: transparent;
  transition: 1s;
  border: none;

  a {
    color: white;
    text-decoration: none;
  }

  &:hover {
    border-bottom: 1px solid white;
  }
}

.navbar-contact-light {
  background-color: transparent;
  transition: 1s;
  border: none;

  a {
    color: black;
    text-decoration: none;
  }

  &:hover {
    border-bottom: 1px solid black;
  }
}
