// SCSS for the button components

button {
  background-color: transparent;

  a {
    color: white;
    text-decoration: none;
  }

  border: none;
}

button:hover {
  border-bottom: 2px solid white;
  transition: 1s;
}

.dropdown-menu {

  img {
    width: 20px;
    height: 20px;
    margin: auto;
  }
}

.dropdown-toggle{

  img {
    width: 20px;
    height: 20px;
    margin: auto;
  }
}
