// SCSS for the button components

// general button


// navbar dropdown menu


.dropdown-menu {

  img {
    width: 20px;
    height: 20px;
    margin: auto;
  }
}

.dropdown-toggle{

  img {
    width: 20px;
    height: 20px;
    margin: auto;
  }

}


// navbar-home button
.navbar-home {
  background-color: transparent;
  transition: 1s;
  border: none;

  a {
    color: white;
    text-decoration: none;
  }

  &:hover {
    border-bottom: 1px solid white;
  }
}

// navbar-card-about-me button
.navbar-about-me {
  background-color: transparent;
  transition: 1s;
  border: none;

  a {
    color: white;
    text-decoration: none;
  }

  &:hover {
    border-bottom: 1px solid white;
  }
}

// navbar-card-projects button
.navbar-projects {
  background-color: transparent;
  transition: 1s;
  border: none;

  a {
    color: white;
    text-decoration: none;
  }

  &:hover {
    border-bottom: 1px solid white;
  }
}

// button-contact button
.navbar-button-contact {
  background-color: transparent;
  transition: 1s;
  border: none;

  a {
    color: white;
    text-decoration: none;
  }

  &:hover {
    border-bottom: 1px solid white;
  }
}
