// SCSS for the button components

// botones de la barra de navegacion
.navbar-card-right {

  button {
    background: transparent;
    border: none;
    color: white;
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    a {
      text-decoration: none;
      color: yellow;
      margin: 0 16px;
      transition: all 0.5s
    }

    a:hover {
      background-color: skyblue;
      color: red;
      font-size: 24px;
      margin:  0 16px;
      transition: 0.5s;
      padding: 8px;
      border-radius: 25px;
    }

  }

}
