// SCSS for the button components

// botones de la barra de navegacion
.navbar-card-right {

  button {
    background: transparent;
    border: none;
    color: white;
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    a {
      text-decoration: none;
      color: yellow;
      margin: 0 16px;
    }

    a:hover {
      background-color: skyblue;
      color: red;
    }

  }

}
