button {
  background-color: transparent;

  a {
    color: white;
    text-decoration: none;
  }

  border: none;
}

button:hover {
  border-bottom: 2px solid white;
  transition: 1s;
}

// button-spanish
.button-spanish {

}
