* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


// logos
.logos{
overflow: hidden;
padding: 10px 0;
background-color: rgb(55, 5, 88);
border: 1px solid black;
border-radius: 50px;
white-space: nowrap;
position: relative;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: linear-gradient(to left, transparent, rgb(0, 0, 0), black);
  content: "";
  z-index: 2;
}

.logos:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background: linear-gradient(to right, transparent, rgb(0, 0, 0), black);
  content: "";
  z-index: 2;
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
    animation: 35s slide infinite linear;
}

.logos-slide img{
    width: 50px;
    height: 50px;
    margin: 0 50px;

}
// logos
