// SCSS for the carrousel component

// disposicion generall carrousel
.carrousel-container{
  margin: 16px;


  .carrousel-title {

      justify-content: center;
      align-items: center;



    h2 {
      font-size: 48px;
      font-family: Georgia, serif;
      height: auto;
      width: 100%;
      justify-content: center;
      align-items: center;

      animation: fadeInText 1s ease-in forwards;
      background: linear-gradient(to right, violet, pink, skyblue);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

  }

}
// disposicion de logos del carrousel
* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// logos
.logos{
  overflow: hidden;
  padding: 10px 0;
  background-color: transparent;

  white-space: nowrap;
  position: relative;
}

@keyframes slide {

  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: linear-gradient(to left, transparent);
  content: "";
  z-index: 2;
}

.logos:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background: linear-gradient(to right, transparent);
  content: "";
  z-index: 2;
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
    animation: 35s slide infinite linear;
}

.logos-slide img{
    width: 50px;
    height: 50px;
    margin: 0 50px;

}
