// SCSS for the carrousel component

// disposicion generall carrousel
.carrousel-container{
  border: 2px solid yellow;
  border-image-slice: 1;
  border-image-width: 2px;
  border-width: 2px;
  border-image-source: linear-gradient(to left, red, yellow);

  $bgWidth: 10000px;
  background: linear-gradient(to right, #1e5799 0%,#2ce0bf 19%,#76dd2c 40%,#dba62b 60%,#e02cbf 83%,#1e5799 100%);
  background-size: $bgWidth 100%;
  animation: bg 15s linear infinite ;


  @keyframes bg{
    0%{
      background-position-x: 0;
    }

    100%{
      background-position-x: $bgWidth;
    }
  }
  .carrousel-title {

  }

}
// disposicion de logos del carrousel
* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// logos
.logos{
  overflow: hidden;
  padding: 10px 0;
  background-color: transparent;

  white-space: nowrap;
  position: relative;
}

@keyframes slide {

  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: linear-gradient(to left, transparent);
  content: "";
  z-index: 2;
}

.logos:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background: linear-gradient(to right, transparent);
  content: "";
  z-index: 2;
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
    animation: 35s slide infinite linear;
}

.logos-slide img{
    width: 50px;
    height: 50px;
    margin: 0 50px;

}
