// SCSS correspondiente al footer

.footer-container {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 100;

  backdrop-filter: blur(8px) saturate(180%);
  -webkit-backdrop-filter: blur(8px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.125);

  .social-media-list {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .text {

    h2 {
      font-family: Georgia, serif;
      animation: fadeInText 1s ease-in forwards;
      background: linear-gradient(to right, violet, pink, skyblue);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

  }

}
