// SCSS correspondiente al footer

.footer-container {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 100;

  backdrop-filter: blur(8px) saturate(180%);
  -webkit-backdrop-filter: blur(8px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.125);

  // background: linear-gradient(to left, black, #170818);
  // border-top: 10px solid;
  // border-image-slice: 1;
  // border-width: 2px;
  // border-image-source: linear-gradient(to left, red, yellow);

  .social-media-list {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

}
