// navbar-container

.navbar-container {
  // condiciones generales de la navbar
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;

  // condiciones y estilo de la navbar
  background: transparent;
  backdrop-filter: blur(10px);
  border-bottom: 10px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to left, red, yellow);

  .navbar-card-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 0 32px;

    button {
      background: transparent;
      border: none;
      color: white;
      font-size: 16px;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

      a {
        text-decoration: none;
        color: yellow;
        margin: 0 16px;
      }

      a:hover {
        color: red;
      }

    }

  }
  .navbar-card-left {

  }
}
