
// navbar02-container navbar en proceso
.navbar02-container {
  // disposicion general
  height:  10vh;
  width: 100%;
  justify-content: space-between;
  backdrop-filter: blur(8px) saturate(180%);
  -webkit-backdrop-filter: blur(8px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.125);
  position: fixed;
  z-index: 100;

  .left-card {
    display: flex;
    position: fixed;
    height: 100%;

    .card-logo {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 8vh;
        width: 8vh;
        margin: 1vh;
      }

    }

    .card-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 24px;

      z-index: 101;

    }

  }

  .right-card {
    display: flex;
    position: fixed;
    height: 100%;
    right: 0;
    align-items: center;
    padding: 10px;

    .dropdown {
      position: relative;
      display: inline-block;
    }
    .dropdown-btn {
      background-color: #008cba;
      color: white;
      border: none;
      padding: 10px;
      cursor: pointer;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: white;
      box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
      z-index: 1;
      min-width: 120px;
    }
    .dropdown-content a {
      display: flex;
      align-items: center;
      padding: 10px;
      text-decoration: none;
      color: black;
    }
    .dropdown-content a img {
      width: 8px;
      margin-right: 8px;
    }
    .dropdown:hover .dropdown-content {
      display: block;
    }

  }
}
