// SCSS for the light navbar

// navbar-container-light
.navbar-container-light {
  height: 10vh;
  width:  100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border-bottom: 2px solid (white);
  box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.1);
  opacity: 0.8;
}
