// navbar-container

.navbar-container {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: transparent;
  backdrop-filter: blur(10px);

  border: 10px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);

}
