// navbar-container

.navbar-container {
  height: 10vh;
  width:  100%;
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.1);
}

// navbar-card-button
.navbar-card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 16px;
  height: 100%;

}

// dropdown menu

.dropdown {
  height: 10vh;
  justify-content: center;
  align-items: center;

  .dropdown-toggle {
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;

    &:hover {
      background-color: #0056b3;
    }
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    min-width: 160px;
    z-index: 1;

    .dropdown-item {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      border-bottom: 1px solid #ddd;

      &:hover {
        background-color: #f1f1f1;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &:hover .dropdown-menu {
    display: block;
  }
}
