// navbar-container

.navbar-container {
  height: 10vh;
  width:  100%;
  border-bottom: solid 1px white;
}

// navbar-card-button
.navbar-card-button {
  display: flex;
  border-bottom: solid 1px white;
}
