// navbar-container

.navbar-container {
  height: 10vh;
  width:  100%;
  border-bottom: solid 1px white;
}

// navbar-card-button
.navbar-card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0   ;
  height: 100%;

  border-bottom: solid 1px white;
}
