// navbar-container

.navbar-container {
  height: 10vh;
  width:  100%;
  border-bottom: solid 1px white;
}

// navbar-card-button
.navbar-card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 16px;
  height: 100%;

  border-bottom: linear-gradient(to right, #e0ca01, #ffffff) 2px;
}
