// navbar-container

.navbar-container {
  height: 10vh;
  width:  100%;
  display: flex;
  justify-content: space-between;
  border: 2px solid white;
  background: transparent;
  backdrop-filter: blur(10px);

}
