// SCSS for the light navbar

// navbar-container-light
.navbar-container-light {
  height: 10vh;
  width:  100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border-bottom: 2px solid (white);
  box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.1);
  opacity: 0.8;
}

// navbar-card-button-light
.navbar-card-button-light {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 16px;
  height: 100%;

  button {
    margin: 0 16px;
  }

}

// navbar-card-home-light
.navbar-card-home-light {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;

  a {

  }
}

// navbar-card-darkmode

.navbar-card-darkmode {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;

  button {
    // margin: 0 16px;
  }

}
