
// navbar02-container navbar en proceso
.navbar02-container {
  // disposicion general
  height:  10vh;
  width: 100%;
  backdrop-filter: blur(8px) saturate(180%);
  -webkit-backdrop-filter: blur(8px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.125);
  position: fixed;
  z-index: 100;

  .navbar02-container-left-card {
    display: flex;
    position: fixed;
    height: 100%;

    .card-logo {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 8vh;
        width: 8vh;
        margin: 1vh;
      }

    }

    .card-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 24px;

      z-index: 101;

    }

  }
}
