// navbar-container

.navbar-container {
  height: 10vh;
  width:  100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  // box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.1);
  opacity: 0.8;
}

// navbar-card-button
.navbar-card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 16px;
  height: 100%;

  button {
    margin: 0 16px;
  }

}


// dropdown menu
.dropdown {
  height: 10vh;
  justify-content: center;
  align-items: center;
  z-index: 3;

  .dropdown-toggle {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 16px;

    &:hover {
      background-color: #ffffff;
      color: black;
      border-radius: 5px;

    }
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: transparent;
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    margin: 0 -42px;
    z-index: 1;

    .dropdown-item {
      color: white;
      padding: 12px 16px;
      text-decoration: none;
      display: block;

      img {
        width: 20px;
        height: 20px;
        margin-right: 8px;

      }

      &:hover {
        background-color: #f1f1f1;
        color: black;
        border-radius: 5px;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &:hover .dropdown-menu {
    display: block;
  }

}

.navbar-right-card {
  display: flex;
}
