// navbar-container

.navbar-container {
  height: 10vh;
  width:  100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  // box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.1);
  opacity: 0.8;

}

// navbar-card-button
.navbar-card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 16px;
  height: 100%;

  button {
    margin: 0 16px;
  }

}


// dropdown menu hacia abajo
.dropdown {
  height: 10vh;
  justify-content: center;
  align-items: center;
  position: relative;  // Asegurar que el menú esté correctamente posicionado con respecto al botón

  .dropdown-toggle {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 16px;

    &:hover {
      background-color: #ffffff;
      color: black;
      border-radius: 5px;
    }
  }

  // Ajustar el estilo del dropdown menu
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: transparent;
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);  // Mejora el contraste con el fondo
    border-radius: 5px;
    margin: 0px 0px 0px -40px;
    padding: 10px 0;
    z-index: 2;  // Asegurar que se superponga correctamente

    .dropdown-item {
      color: white;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      z-index: 2;

      img {
        width: 20px;
        height: 20px;
        margin-right: 8px;
      }

      &:hover {
        background-color: #f1f1f1;
        color: black;
        border-radius: 5px;
      }
    }
  }

  &:hover .dropdown-menu {
    display: block;  // Mostrar el menú cuando se hace hover
  }
}


.navbar-right-card {
  display: flex;
  border: 1px solid white;
}
