// navbar-container

.navbar-container {
  // condiciones generales de la navbar
  position: absolute, sticky;
  top: 0;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;

  // condiciones y estilo de la navbar
  background: linear-gradient(to left, black, #170818);;
  // backdrop-filter: blur(10px);
  border-bottom: 10px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to left, red, yellow);

  .navbar-card-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 0 32px;

  }

  .navbar-card-left {

  }
}

.cursor {
  --size: 20px;
  --X: 0;
  --y: 0;

  position: fixed;
  top: 0;
  left: 0;
  width: var(--size);
  height: var(--size);
  border-radius: 100px;

  transform: translate3d(
    calc(100vw * var(--x) - var(--size) / 2),
    calc(100vh * var(--y) - var(--size) / 2),
  )
}
