// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/aboutme";
@import "pages/projects";
@import "pages/home";
@import "pages/contact";
@import "pages/blank";




body {
  width: 100%;
  height: 100vh;
  // background-color: #0e050e;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1139%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsRadialGradient1140%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1122.2145335002826 418.8960983844967L988.1060191414999 344.55853499853987 913.7684557555431 478.6670493573225 1047.8769701143258 553.0046127432794z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1313.2354999262348 412.1487265708862L1423.769657171118 371.9175834640487 1383.5385140642804 261.3834262191654 1273.0043568193973 301.61456932600294z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M776.7199430042632 138.17090422108956L689.6780530974994 192.56071355609205 744.0678624325019 279.60260346285577 831.1097523392657 225.21279412785333z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M480.9556144558033 24.913332142079945L548.7805054951098 129.35450552804966 585.3967878417731-42.911558897226534z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M508.28 418.43 a139.96 139.96 0 1 0 279.92 0 a139.96 139.96 0 1 0 -279.92 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M563.6701123304842 185.2535276280139L469.88135012905855 309.71541883360385 594.3432413346485 403.50418103502955 688.1320035360742 279.0422898294396z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1225.607%2c338.189C1263.34%2c339.298%2c1300.116%2c320.907%2c1318.575%2c287.979C1336.676%2c255.689%2c1330.602%2c216.427%2c1311.711%2c184.592C1293.25%2c153.481%2c1261.774%2c130.503%2c1225.607%2c131.308C1190.611%2c132.087%2c1162.866%2c157.666%2c1145.895%2c188.282C1129.512%2c217.839%2c1125.782%2c252.94%2c1141.648%2c282.778C1158.522%2c314.511%2c1189.683%2c337.133%2c1225.607%2c338.189' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M23.86751985534199 627.0281292115851L131.57144470115557 554.3809146057272 58.924230095297595 446.67698975991357-48.77969475051598 519.3242043657715z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1139'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='50%25' cy='50%25' r='772.53' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient1140'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(68%2c 0%2c 94%2c 1)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");



}

a {
  text-decoration: none;
}

// background color #170818
