// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/aboutme";
@import "pages/projects";
@import "pages/home";
@import "pages/contact";
@import "pages/blank";

body {
  width: 100%;
  height: 100vh;
  background-color: #0e050e;
  // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1139%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsRadialGradient1140%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1122.2145335002826 418.8960983844967L988.1060191414999 344.55853499853987 913.7684557555431 478.6670493573225 1047.8769701143258 553.0046127432794z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1313.2354999262348 412.1487265708862L1423.769657171118 371.9175834640487 1383.5385140642804 261.3834262191654 1273.0043568193973 301.61456932600294z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M776.7199430042632 138.17090422108956L689.6780530974994 192.56071355609205 744.0678624325019 279.60260346285577 831.1097523392657 225.21279412785333z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M480.9556144558033 24.913332142079945L548.7805054951098 129.35450552804966 585.3967878417731-42.911558897226534z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M508.28 418.43 a139.96 139.96 0 1 0 279.92 0 a139.96 139.96 0 1 0 -279.92 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M563.6701123304842 185.2535276280139L469.88135012905855 309.71541883360385 594.3432413346485 403.50418103502955 688.1320035360742 279.0422898294396z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1225.607%2c338.189C1263.34%2c339.298%2c1300.116%2c320.907%2c1318.575%2c287.979C1336.676%2c255.689%2c1330.602%2c216.427%2c1311.711%2c184.592C1293.25%2c153.481%2c1261.774%2c130.503%2c1225.607%2c131.308C1190.611%2c132.087%2c1162.866%2c157.666%2c1145.895%2c188.282C1129.512%2c217.839%2c1125.782%2c252.94%2c1141.648%2c282.778C1158.522%2c314.511%2c1189.683%2c337.133%2c1225.607%2c338.189' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M23.86751985534199 627.0281292115851L131.57144470115557 554.3809146057272 58.924230095297595 446.67698975991357-48.77969475051598 519.3242043657715z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1139'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='50%25' cy='50%25' r='772.53' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient1140'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(68%2c 0%2c 94%2c 1)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");

}

a {
  text-decoration: none;
}

// background color #170818


// inicio de la animacion de fondo
@keyframes hero-gradient-animation {
  0% {
      --c-0: hsla(217.59493670886076, 100%, 30%, 1);
      --x-0: 93%;
      --s-start-0: 8.392121895570533%;
      --s-end-0: 38.584065253664996%;
      --y-0: 63%;
      --y-1: -7%;
      --c-1: hsla(0, 0%, 0%, 1);
      --x-1: 33%;
      --s-start-1: 8.392121895570533%;
      --s-end-1: 22.10878124098502%;
      --s-start-2: 8.392121895570533%;
      --s-end-2: 22.558651527792346%;
      --y-2: 7%;
      --x-2: 84%;
      --c-2: hsla(0, 0%, 0%, 1);
      --y-3: 5%;
      --c-3: hsla(0, 0%, 0%, 1);
      --s-start-3: 8.392121895570533%;
      --s-end-3: 22.558651527792346%;
      --x-3: 14%;
      --c-4: hsla(0, 0%, 0%, 1);
      --x-4: 7%;
      --s-start-4: 8.392121895570533%;
      --s-end-4: 22.558651527792346%;
      --y-4: 96%;
      --s-start-5: 8.392121895570533%;
      --s-end-5: 22.558651527792346%;
      --c-5: hsla(0, 0%, 0%, 1);
      --y-5: 90%;
      --x-5: 93%;
      --x-6: 3%;
      --y-6: 61%;
      --c-6: hsla(279.7894736842105, 67%, 27%, 1);
      --s-start-6: 8.392121895570533%;
      --s-end-6: 39.67138181429644%;
      --s-start-7: 8.392121895570533%;
      --s-end-7: 49.58090142552271%;
      --x-7: 94%;
      --y-7: 59%;
      --c-7: hsla(279.7894736842105, 67%, 27%, 1);
      --x-8: 48%;
      --c-8: hsla(217.68844221105527, 100%, 39%, 1);
      --s-start-8: 8.392121895570533%;
      --s-end-8: 34.815367581495366%;
      --y-8: 63%;
      --c-9: hsla(217.59493670886076, 100%, 30%, 1);
      --y-9: 78%;
      --s-start-9: 8.392121895570533%;
      --s-end-9: 31.77166380372925%;
      --x-9: 96%;
  }

  50% {
      --c-0: hsla(217.59493670886076, 100%, 30%, 1);
      --x-0: 2%;
      --s-start-0: 12.892043731642234%;
      --s-end-0: 42.94837818044209%;
      --y-0: 59%;
      --y-1: 10%;
      --c-1: hsla(0, 0%, 0%, 1);
      --x-1: 42%;
      --s-start-1: 8.392121895570533%;
      --s-end-1: 41.69445156991687%;
      --s-start-2: 8.392121895570533%;
      --s-end-2: 20.488815899465003%;
      --y-2: 29%;
      --x-2: 75%;
      --c-2: hsla(0, 0%, 0%, 1);
      --y-3: 16%;
      --c-3: hsla(0, 0%, 0%, 1);
      --s-start-3: 8.392121895570533%;
      --s-end-3: 30.099844327777923%;
      --x-3: 5%;
      --c-4: hsla(0, 0%, 0%, 1);
      --x-4: 36%;
      --s-start-4: 8.392121895570533%;
      --s-end-4: 24.59566937006635%;
      --y-4: 91%;
      --s-start-5: 8.392121895570533%;
      --s-end-5: 24.59566937006635%;
      --c-5: hsla(0, 0%, 0%, 1);
      --y-5: 91%;
      --x-5: 70%;
      --x-6: 54%;
      --y-6: 73%;
      --c-6: hsla(279.7894736842105, 67%, 27%, 1);
      --s-start-6: 9%;
      --s-end-6: 26.825849058644888%;
      --s-start-7: 9%;
      --s-end-7: 49.05074977970796%;
      --x-7: 57%;
      --y-7: 76%;
      --c-7: hsla(279.7894736842105, 67%, 27%, 1);
      --x-8: 11%;
      --c-8: hsla(217.68844221105527, 100%, 39%, 1);
      --s-start-8: 9;
      --s-end-8: 26.166345747226664%;
      --y-8: 53%;
      --c-9: hsla(217.59493670886076, 100%, 30%, 1);
      --y-9: 70%;
      --s-start-9: 9;
      --s-end-9: 22.152460022684956%;
      --x-9: 70%;
  }

  100% {
      --y-1: -3%;
      --c-1: hsla(0, 0%, 0%, 1);
      --x-1: 76%;
      --s-start-1: 8.392121895570533%;
      --s-end-1: 59.32232816638693%;
      --s-start-2: 8.392121895570533%;
      --s-end-2: 28.52989037790774%;
      --y-2: 18%;
      --x-2: 97%;
      --c-2: hsla(0, 0%, 0%, 1);
      --y-3: 18%;
      --c-3: hsla(0, 0%, 0%, 1);
      --s-start-3: 8.392121895570533%;
      --s-end-3: 28.52989037790774%;
      --x-3: 42%;
      --c-4: hsla(0, 0%, 0%, 1);
      --x-4: 66%;
      --s-start-4: 8.392121895570533%;
      --s-end-4: 28.52989037790774%;
      --y-4: 95%;
      --s-start-5: 8.392121895570533%;
      --s-end-5: 28.52989037790774%;
      --c-5: hsla(0, 0%, 0%, 1);
      --y-5: 92%;
      --x-5: 46%;
      --x-6: 102%;
      --y-6: 16%;
      --c-6: hsla(279.7894736842105, 67%, 27%, 1);
      --s-start-6: 24.72064437400016%;
      --s-end-6: 47.490620328604024%;
      --s-start-7: 10.200720718860145%;
      --s-end-7: 50.46456494288142%;
      --x-7: 22%;
      --y-7: 52%;
      --c-7: hsla(279.7894736842105, 67%, 27%, 1);
      --c-9: hsla(217.5, 100%, 31%, 1);
      --y-9: 51%;
      --s-start-9: 6.294132688184733%;
      --s-end-9: 20.79106730744014%;
      --x-9: 97%;
  }
}

@property --c-0 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(217.59493670886076, 100%, 30%, 1)
}

@property --x-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 93%
}

@property --s-start-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 8.392121895570533%
}

@property --s-end-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 38.584065253664996%
}

@property --y-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 63%
}

@property --y-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: -7%
}

@property --c-1 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(0, 0%, 0%, 1)
}

@property --x-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 33%
}

@property --s-start-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 8.392121895570533%
}

@property --s-end-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 22.10878124098502%
}

@property --s-start-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 8.392121895570533%
}

@property --s-end-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 22.558651527792346%
}

@property --y-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 7%
}

@property --x-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 84%
}

@property --c-2 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(0, 0%, 0%, 1)
}

@property --y-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 5%
}

@property --c-3 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(0, 0%, 0%, 1)
}

@property --s-start-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 8.392121895570533%
}

@property --s-end-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 22.558651527792346%
}

@property --x-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 14%
}

@property --c-4 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(0, 0%, 0%, 1)
}

@property --x-4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 7%
}

@property --s-start-4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 8.392121895570533%
}

@property --s-end-4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 22.558651527792346%
}

@property --y-4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 96%
}

@property --s-start-5 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 8.392121895570533%
}

@property --s-end-5 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 22.558651527792346%
}

@property --c-5 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(0, 0%, 0%, 1)
}

@property --y-5 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 90%
}

@property --x-5 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 93%
}

@property --x-6 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 3%
}

@property --y-6 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 61%
}

@property --c-6 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(279.7894736842105, 67%, 27%, 1)
}

@property --s-start-6 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 8.392121895570533%
}

@property --s-end-6 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 39.67138181429644%
}

@property --s-start-7 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 8.392121895570533%
}

@property --s-end-7 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 49.58090142552271%
}

@property --x-7 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 94%
}

@property --y-7 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 59%
}

@property --c-7 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(279.7894736842105, 67%, 27%, 1)
}

@property --x-8 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 48%
}

@property --c-8 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(217.68844221105527, 100%, 39%, 1)
}

@property --s-start-8 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 8.392121895570533%
}

@property --s-end-8 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 34.815367581495366%
}

@property --y-8 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 63%
}

@property --c-9 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(217.59493670886076, 100%, 30%, 1)
}

@property --y-9 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 78%
}

@property --s-start-9 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 8.392121895570533%
}

@property --s-end-9 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 31.77166380372925%
}

@property --x-9 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 96%
}

.body {
  --c-0: hsla(217.59493670886076, 100%, 30%, 1);
  --x-0: 93%;
  --y-0: 63%;
  --y-1: -7%;
  --c-1: hsla(0, 0%, 0%, 1);
  --x-1: 33%;
  --y-2: 7%;
  --x-2: 84%;
  --c-2: hsla(0, 0%, 0%, 1);
  --y-3: 5%;
  --c-3: hsla(0, 0%, 0%, 1);
  --x-3: 14%;
  --c-4: hsla(0, 0%, 0%, 1);
  --x-4: 7%;
  --y-4: 96%;
  --c-5: hsla(0, 0%, 0%, 1);
  --y-5: 90%;
  --x-5: 93%;
  --x-6: 3%;
  --y-6: 61%;
  --c-6: hsla(279.7894736842105, 67%, 27%, 1);
  --x-7: 94%;
  --y-7: 59%;
  --c-7: hsla(279.7894736842105, 67%, 27%, 1);
  --x-8: 48%;
  --c-8: hsla(217.68844221105527, 100%, 39%, 1);
  --y-8: 63%;
  --c-9: hsla(217.59493670886076, 100%, 30%, 1);
  --y-9: 78%;
  --x-9: 96%;
  ;
  background-color: hsla(262, 82%, 3%, 1);
  background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4)), radial-gradient(circle at var(--x-5) var(--y-5), var(--c-5) var(--s-start-5), transparent var(--s-end-5)), radial-gradient(circle at var(--x-6) var(--y-6), var(--c-6) var(--s-start-6), transparent var(--s-end-6)), radial-gradient(circle at var(--x-7) var(--y-7), var(--c-7) var(--s-start-7), transparent var(--s-end-7)), radial-gradient(circle at var(--x-8) var(--y-8), var(--c-8) var(--s-start-8), transparent var(--s-end-8)), radial-gradient(circle at var(--x-9) var(--y-9), var(--c-9) var(--s-start-9), transparent var(--s-end-9));
  animation: hero-gradient-animation 15s linear infinite alternate-reverse;
  background-blend-mode: normal, normal, normal, normal, normal, normal, normal, normal, normal, normal;
}
// fin de la animacion del fondo
