// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/aboutme";
@import "pages/projects";
@import "pages/home";
@import "pages/contact";
@import "pages/blank";




body {
  width: 100%;
  height: 100vh;
  background-color: #170818;

  // background animation starts
    @keyframes animate {
      0%{
          transform: translateY(0) rotate(0deg);
          opacity: 1;
          border-radius: 0;
      }
      100%{
          transform: translateY(-1000px) rotate(720deg);
          opacity: 0;
          border-radius: 50%;
      }
  }

  .background {
      z-index: 1;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
      background: #11081c;
      overflow: hidden;
  }
  .background li {
      position: absolute;
      display: block;
      list-style: none;
      width: 20px;
      height: 20px;
      background: rgba(255, 255, 255, 0.2);
      animation: animate 19s linear infinite;
  }

  .background li:nth-child(0) {
      left: 10%;
      width: 138px;
      height: 138px;
      bottom: -138px;
      animation-delay: 1s;
  }
  .background li:nth-child(1) {
      left: 28%;
      width: 140px;
      height: 140px;
      bottom: -140px;
      animation-delay: 4s;
  }
  .background li:nth-child(2) {
      left: 77%;
      width: 119px;
      height: 119px;
      bottom: -119px;
      animation-delay: 3s;
  }
  .background li:nth-child(3) {
      left: 28%;
      width: 200px;
      height: 200px;
      bottom: -200px;
      animation-delay: 12s;
  }
  .background li:nth-child(4) {
      left: 50%;
      width: 110px;
      height: 110px;
      bottom: -110px;
      animation-delay: 15s;
  }
  .background li:nth-child(5) {
      left: 26%;
      width: 114px;
      height: 114px;
      bottom: -114px;
      animation-delay: 14s;
  }
  .background li:nth-child(6) {
      left: 72%;
      width: 159px;
      height: 159px;
      bottom: -159px;
      animation-delay: 2s;
  }
  .background li:nth-child(7) {
      left: 28%;
      width: 120px;
      height: 120px;
      bottom: -120px;
      animation-delay: 35s;
  }
  .background li:nth-child(8) {
      left: 9%;
      width: 167px;
      height: 167px;
      bottom: -167px;
      animation-delay: 25s;
  }
  .background li:nth-child(9) {
      left: 65%;
      width: 113px;
      height: 113px;
      bottom: -113px;
      animation-delay: 34s;
  }
  .background li:nth-child(10) {
      left: 83%;
      width: 200px;
      height: 200px;
      bottom: -200px;
      animation-delay: 41s;
  }
  .background li:nth-child(11) {
      left: 47%;
      width: 150px;
      height: 150px;
      bottom: -150px;
      animation-delay: 12s;
  }
  .background li:nth-child(12) {
      left: 59%;
      width: 122px;
      height: 122px;
      bottom: -122px;
      animation-delay: 32s;
  }
  // background animation ends

}

a {
  text-decoration: none;
}

// background color #170818
