// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/aboutme";
@import "pages/projects";
@import "pages/home";
@import "pages/contact";
@import "pages/blank";




body {
  width: 100%;
  height: 100vh;
  background-color: #0e050e;







  .home-container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    filter: blur(20px);
    pointer-events: none;
    animation: keyframes-intro 1s ease-in forwards;
  }

  @keyframes keyframes-intro {
    100% {
      ransform: translate(-100%);
      opacity: 0;
    }
  }

  .home-container .heading {
    font-weight: 600;
    font-size: small;
    text-align: center;
    margin-top: calc(var(--unit) * -2);
    padding-block: var(--unit);
    color: var(--lightgray);
    animation: keyframes-flash-text 0.5s infinite;
  }

  @keyframes keyframes-flash-text {
    50% {
      opacity: 0.5;
    }
  }

}

a {
  text-decoration: none;
}

// background color #170818
