<div class="aboutme-container">
    <div class="nft">
      <div class='main'>
        <div class="main-image">
          <%= image_tag "lewagon.jpg" %>
        </div>
        <h2>Le Wagon</h2>
        <p class='description'>Nous sommes une équipe d'étudiants de Le Wagon France</p>
      </div>
    </div>

  <div class="aboutme-card-webdeveloper">
    <h2>En tant que Développeurs Web</h2>
    <p>En tant que développeurs web full-stack spécialisés dans le développement front-end et back-end, nous possédons un ensemble
    de compétences complet axé sur la création d'interfaces utilisateur attrayantes et interactives. Avec une base solide
    en HTML, CSS et JavaScript, nous avons perfectionné nos compétences pour créer des expériences web visuellement impressionnantes et réactives
    qui captivent les utilisateurs.</p>
    <p>Après une formation intensive au bootcamp Le Wagon à Lille, en France, nous avons été équipés de techniques de pointe
    et des meilleures pratiques en matière de développement web. Notre expertise s'étend à l'utilisation de diverses
    bibliothèques et frameworks pour accélérer les processus de développement
    et améliorer la fonctionnalité des applications web.</p>
    <p>En plus de notre compétence technique, nous apportons une mentalité créative et un regard attentif pour l'esthétique du design
    à chaque projet que nous réalisons. Qu'il s'agisse de mettre en œuvre des composants UI complexes, d'optimiser
    les performances ou d'assurer la compatibilité entre les navigateurs, nous prospérons en relevant des défis et en livrant
    des solutions qui dépassent les attentes des clients.</p>
    <p>Notre engagement à nous tenir à jour avec les tendances de l'industrie et à élargir continuellement notre ensemble de compétences garantit
    que nous restons à la pointe du développement front-end et back-end. Avec une passion pour l'innovation et un engagement envers
    l'excellence, nous sommes prêts à contribuer efficacement à des projets qui nécessitent une expertise de haut niveau en développement front-end.</p>
  </div>

</div>
