<%# HTML correspondiente al footer en ingles %>

<%# division contenedora del footer en ingles %>
<div class="footer-container">
  <div class="social-media-list">
    <button>
      <a href="/home"><i class="fa-brands fa-square-facebook"></i></a>
    </button>
    <button>
      <a href="/aboutme"><i class="fa-brands fa-x-twitter"></i></a>
    </button>
    <button>
      <a href="/projects"><i class="fa-brands fa-instagram"></i></a>
    </button>
    <button>
      <a href="/contact"><i class="fa-brands fa-linkedin"></i></a>
    </button>
    <button>
      <a href="/home"><i class="fa-brands fa-github"></i></a>
    </button>

  </div>
</div>
