<%# navbar 2.0 %>

<%# contenedor general %>
<div class="navbar02-container">

  <%# carta izquierda %>
  <div class="navbar02-container-left-card">

    <%# logo %>
    <div class="card-logo">
      <a href="/home">
        <img src="https://res.cloudinary.com/dcfmvazgl/image/upload/v1736335480/Wash%20portfolio/logo_fxcjk2.png" alt="Paszkowicz-group">
      </a>
    </div>
    <%# botones %>
    <div class="card-buttons">
      <a href="">Home</a>
      <a href="">Projects</a>
      <a href="">Contact</a>
      <a href="">About</a>

    </div>

  </div>


</div>
