<%# navbar 2.0 %>

<%# contenedor general %>
<div class="navbar02-container">

  <%# carta izquierda %>
  <div class="navbar02-container-left-card">
    <div class="card-logo">
      <a href="/home">
        <img src="https://res.cloudinary.com/dcfmvazgl/image/upload/v1736335480/Wash%20portfolio/logo_fxcjk2.png" alt="Paszkowicz-group">
      </a>
    </div>

  </div>


</div>
