<%# HTML correspondiente a la navbar %>

<%# Division contenedora de la navbar %>
<div class="navbar-container">
  <div class="navbar-card-right">

  </div>
  <div class="navbar-card-left">

  </div>


</div>
