<%# HTML correspondiente a la navbar %>

<%# Division contenedora de la navbar %>
<div class="navbar-container">

  <div class="navbar-card-left">

    <button>
      <a href="#home-presentation">Home</a>
    </button>

  </div>

  <div class="navbar-card-right">

    <%# <button>
      <a href="">Sign-in</a>
    </button> %>

  </div>

</div>
