<%# navbar 2.0 en ingles%>

<%# contenedor general %>
<div class="navbar02-container">

  <%# carta izquierda %>
  <div class="left-card">

    <%# logo %>
    <div class="card-logo">
      <a href="/home">
        <img src="https://res.cloudinary.com/dcfmvazgl/image/upload/v1736335480/Wash%20portfolio/logo_fxcjk2.png" alt="Paszkowicz-group">
      </a>
    </div>

    <%# botones %>
    <div class="card-buttons">

      <button>
        <a href="#projects">
          Projects
        </a>
      </button>

      <button>
        <a href="#contact">
          Contact
        </a>
      </button>

    </div>

  </div>

  <%# carta derecha %>
  <div class="right-card">
    <div class="dropdown">
      <button class="dropdown-btn" onclick="toggleDropdown()">Language</button>
      <div class="dropdown-content" id="dropdown-menu">
      <a href="#"><img src="https://res.cloudinary.com/dcfmvazgl/image/upload/v1738151078/Wash%20portfolio/united-kingdom_xq3pzn.png" alt="English"> English</a>
      <a href="#"><img src="https://res.cloudinary.com/dcfmvazgl/image/upload/v1738151077/Wash%20portfolio/spain_yw9yvi.png" alt="Spanish"> Spanish</a>
      <a href="#"><img src="https://res.cloudinary.com/dcfmvazgl/image/upload/v1738151077/Wash%20portfolio/france_jidye5.png" alt="French"> French</a>
      <a href="#"><img src="https://res.cloudinary.com/dcfmvazgl/image/upload/v1738151077/Wash%20portfolio/brazil_asqsvx.png" alt="Portuguese"> Portuguese</a>
      </div>
  </div>
</div>


</div>

<%# javascript correspondiente al toggle %>

<script>
  function toggleDropdown() {
    var dropdown = document.getElementById("dropdown-menu");
    dropdown.style.display = dropdown.style.display === "block" ? "none" : "block";
  }

  document.addEventListener("click", function(event) {
    var dropdown = document.getElementById("dropdown-menu");
    var button = document.querySelector(".dropdown-btn");
    if (!button.contains(event.target) && !dropdown.contains(event.target)) {
      dropdown.style.display = "none";
    }
  });
</script>
