<div class="navbar-container">

  <div class="navbar-card-button">

    <div class="navbar-card-home">
      <button class="button"><%= link_to "Home", home_path, class: "navbar-Home" %>
      </button>
    </div>


    <div class="navbar-card-about-me">
      <button class="button"><%= link_to "About", aboutme_path, class: "navbar-about-me" %>
      </button>
    </div>

    <%# <div class="navbar-card-project">
      <button class="button"><%= link_to "Projects", projects_path, class: "navbar-projects" %>
      <%# </button>
    </div> %>

    <div class="navbar-card-contact">
      <button class="button"><%= link_to "Contact", contact_path, class: "navbar-contact" %>
      </button>
    </div>

  </div>

</div>
