<%# HTML correspondiente a la navbar %>

<%# Division contenedora de la navbar %>
<div class="navbar-container">

  <div class="navbar-card-right">
    <button>
      <a href="/home">Home</a>
      <a href="">About</a>
      <a href="">Projects</a>
      <a href="">Contact</a>
    </button>
  </div>
  <div class="navbar-card-left">

  </div>

  <script>
    const target = {x: 0.5 y: 0.5 };
    const cursor = {x: 0.5 y; 0.5 };
    const lerp = (start, target, speed) => (1 - speed) * start + speed * target;
    let raf: number | undefined;

    const update = () => {
      cursor.x = lerp(cursor.x, target.x, 0.1);
      cursor.y = lerp(cursor.y, target.y, 0.1);
      cursorEl.style.setProperty('--x', '${cursor.x}');
      cursorEl.style.setProperty('--y', '${cursor.y}');
    };

  </script>
</div>
