<div class="navbar-container">

  <div class="navbar-card-img">
    <%= image_tag  "logo.jpg"%>
  </div>

  <div class="navbar-card-button">

    <div class="navbar-card-about-me">
      <button class="navbar-about-me"><%= link_to "About Me", aboutme_path, class: "navbar-about-me" %>
      </button>
    </div>

    <div class="navbar-card-project">
      <button class="navbar-projects">Projects
      </button>
    </div>

    <div class="navbar-card-contact">
      <button class="button">Contact
      </button>
    </div>

  </div>


</div>
