<%# HTML correspondiente a la navbar %>

<%# Division contenedora de la navbar %>
<div class="navbar-container">

  <div class="navbar-card-left">
    <button>
      <a href="#home-presentation">Home</a>
    </button>
    <button>
      <a href="#about-card">About</a>
    </button>
    <button>
      <a href="/projects">Projects</a>
    </button>
    <button>
      <a href="/contact">Contact</a>
    </button>
    <button>
      <a href="/contact">Learn to code</a>
    </button>

  </div>

  <div class="navbar-card-right">
    <button>
      <a href="">Sign-in</a>
    </button>
  </div>

</div>
