<%# navbar 2.0 en ingles%>

<%# contenedor general %>
<div class="navbar02-container">

  <%# carta izquierda %>
  <div class="left-card">

    <%# logo %>
    <div class="card-logo">
      <a href="/home">
        <img src="https://res.cloudinary.com/dcfmvazgl/image/upload/v1736335480/Wash%20portfolio/logo_fxcjk2.png" alt="Paszkowicz-group">
      </a>
    </div>

    <%# botones %>
    <div class="card-buttons">

      <button>
        <a href="#projects">
          Projects
        </a>
      </button>

      <button>
        <a href="#contact">
          Contact
        </a>
      </button>

    </div>

  </div>

  <%# carta derecha %>
  <div class="right-card">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Language
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">        <a class="dropdown-item" href="#">English</a>
      <a class="dropdown-item" href="#">Spanish</a>
      <a class="dropdown-item" href="#">Portuguese</a>
      <a class="dropdown-item" href="#">French</a>
    </div>
  </div>

</div>
